@(usuarios: List[Usuario], edul : models.Edul)
@import helper.twitterBootstrap._
@import helper._

@scripts = {



} 

@main(null, scripts){

  <style type="text/css">

    .hero-unit {
      padding: 60px;
      margin-bottom: 30px;
      background-color: #EEE;
      -webkit-border-radius: 6px;
      -moz-border-radius: 6px;
      border-radius: 6px;
      height:200px !important;
    }


    .estado {
      height:30px !important;
    }

    .estado ul {
      list-style : none !important;
      height:30px !important;
      margin-left:0px !important;
    }

    .estado ul li {
      float:left;
      margin-right:30px;
    }

    .estado .cantidad {
      display:block;
      font-size:30px;
      font-weight:bold;
    }

    .actividad {
      font-size:12px !important; 
    }

    .actividad .well {
      padding-top:30px;
    }

    .actividad .page-header {
      margin:0 0 0 0 !important;
      margin-bottom:5px !important;
      background:#E94E1B;
      height:30px;
      padding:0px !important;
    }

    .actividad .page-header h3 {
      vertical-align: text-bottom;
      line-height:25px !important;
      color:#FFF;
      padding-left:10px;
      padding-top:2px;
    }

    .actividad .actividad-header {
      font-weight:bold;
      font-size:11px;
      position:absolute;
      top:0;
      left:0;
      z-index:10000;
      background: #E94E1B;
      padding:0px 5px;
      color: #FFF;
    }

    .actividad ul {
      list-style:none;
      height:450px !important;
      overflow:auto;
      margin-left:0px !important;
    }

    .actividad ul li {
      border-bottom: 1px solid #efefef;
      padding-bottom:10px;
      padding-top:10px;
    }

    .actividad .actividad-icono {
      height:40px;
      background:transparent;
      float:left;
      margin-right:5px;
      line-height:40px;
      padding:0px !important;
    }

    .actividad .actividad-icono i {
      font-size:30px;
      margin:0px !important;
      vertical-align: text-bottom;
      color: #E94E1B;
    }

    .actividad .actividad-descripcion {
      float:left;
      width:390px;
    }

    .page-header h3 {
      line-height: 0px !important;
    }


    .secciones {

    }

    .secciones ul {
      list-style: none;
      padding:0px !important;
      margin:0px !important;
    }

    .secciones ul li {
      list-style: none;
    }

    .well {
      position:relative !important;
    }

    .chart_title {
      font-weight:bold;
      font-size:11px;
      position:absolute;
      bottom:0;
      right:0;
      z-index:10000;
      background: #E94E1B;
      padding:0px 5px;
      color: #FFF;
    }

    .estado-icono {
      width:40px;
      height:40px;
      float:left;
      font-size:40px;
      margin-right:10px;
    }

    .estado-icono i {
      vertical-align: bottom !important;
    }

    .estado-info {
      float:left;

    }


    /************************************
      SECCIONES
      **************************************/

      .secciones .seccion_codigo {
        margin: 0px !important;
      }
  </style>

  <li class="active"><a href="/"><i class="icon-home"></i> Inicio</a></li>
  <!--<li><a href="/admin/facultades">Facultades</a></li>-->
  <li><a href="/admin/usuarios"><i class="icon-user"></i> Alumnos</a></li>
  <li><a href="/admin/cursos"><i class="icon-book"></i> Cursos</a></li>
}{


    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">

      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);



      function drawChart()
      {

        var chartTimeLine = new google.visualization.DataTable(); 
        chartTimeLine.addColumn('date', 'Días'); 
        chartTimeLine.addColumn('number','Preguntas'); 

        chartTimeLine.addRows([ 
          @for(pregunta <- edul.getPreguntasPorDia()){
            [new Date(@pregunta.getString("año"),@pregunta.getString("mes") - 1,@pregunta.getString("día")),@pregunta.getString("count(*)")],
          }
        ]) 
      
      /*var myOptions = { 
      axis_index:0, 
      start_val:mondays[0], 
      end_val:mondays[mondays.length-1], 
      opt_step:mondays.length/2 
      } */

        var options = {
          fontSize : 12,
          chartArea :  {
            width : 250,
            left : 30,
            top:20
          },
          animation : {
            duration: 5
          },
          hAxis : {
            title : "Días"
          }
        };

         var chartLine = new google.visualization.LineChart(document.getElementById("chart_div")); 
        chartLine.draw(chartTimeLine, options); 


        //var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
        //chart.draw(data, options);

        // PIE CHART
        
        data = google.visualization.arrayToDataTable([
          ['Sección', 'Preguntas'],
          @for(seccion <- edul.getSecciones()){
            ['@seccion.getSeccion()',  @seccion.getPreguntas().size()]
          }
          
        ]);

        options = {
          fontSize : 12
        };

        chart = new google.visualization.PieChart(document.getElementById('chart_pie_div'));
        chart.draw(data, options);

      }

    </script>



        @*********************
         * CONTENIDO *
         *********************@ 

      <!-- Example row of columns -->
      <div class="row">

            <div class="span12">

              <div class="row">
                <div class="span12">
                  @**************************************************************************
                    ESTADO DE LA APLICACIÓN
                    *************************************************************************@
                    <div class="well estado clearfix">
                      <ul class="clearfix">
                        <li class="clearfix">
                          <div class="estado-icono"><i class="icon-group"></i></div>
                          <div class="estado-info"><a href="#"><span class="cantidad">@usuarios.size()</span> Estudiantes</a></div>
                        </li>
                        <li class="clearfix">
                          <div class="estado-icono"><i class="icon-briefcase"></i></div>
                          <div class="estado-info"><a href="#"><span class="cantidad">@edul.getProfesores().size()</span> Profesores</a></div>
                        </li>
                        <li class="clearfix">
                          <div class="estado-icono"><i class="icon-question-sign"></i></div>
                          <div class="estado-info"><a href="#"><span class="cantidad">@edul.getPreguntas().size()</span> Preguntas</a></div>
                        </li>
                        <!--<li class="last clearfix">
                          <div class="estado-icono"><i class="icon-paper-clip"></i></div>
                          <div class="estado-info"><a href="#"><span class="cantidad">74</span> Archivos</a></div>
                        </li>-->
                      </ul>
                    </div>
                </div>
              </div>


              <div class="row">

                <div class="span6 actividad">

                  <div class="well well-small">

                    <div class="actividad-header">
                      Actividad
                    </div>                   

                    <ul>

                      @for(mensaje <- edul.getMensajes()){

                        @if(mensaje.getTipo() == 2){
                            <li class="clearfix">
                              <div class="actividad-icono"><i class="icon-question-sign"></i></div>
                              <div class="actividad-descripcion">
                                <strong>@mensaje.getEmisor().getNombres()</strong> preguntó "@mensaje.getTitulo()" en la <strong>sección @mensaje.getSeccion().getSeccion()</strong>
                              </div> 
                            </li> 
                        }

                        @if(mensaje.getTipo() == 0){
                          <li class="clearfix">
                              <div class="actividad-icono"><i class="icon-comment"></i></div>
                              <div class="actividad-descripcion">
                                <strong>@mensaje.getEmisor().getNombres()</strong> respondió "@mensaje.getMensaje().getTitulo()" en la <strong>sección @mensaje.getSeccion().getSeccion()</strong>
                              </div> 
                            </li> 

                        }

                      }
                      
                    </ul>
                </div>

              </div>

                <div class="span6">

                  <div class="row">
                    
                    
                    <div class="span6"> 
                        <div class="well well-small">
                          <div class="chart_title">Preguntas vs Usuarios Preguntando</div>
                          <div id="chart_div"  style="height:200px"></div>
                        </div>
                    </div>

                    <div class="span6" style="height:150px"> 
                        <div class="well well-small">
                          <div class="chart_title">Preguntas por sección</div>
                          <div id="chart_pie_div"  style="height:200px"></div>
                        </div>
                    </div>

                  </div>

                </div>

            </div> @*** FIN DE FILA *******************************************************@

            @************************** FILA - SECCIONES - SEMINARIO DE TESIS I ****************************@
            <div class="row">

              <div class="span12 secciones">
                
                <div class="page-header">
                    <h3>Seminario de Tesis | Secciones</h3>
                </div>

                <div class="row">

                  @if(edul.getSecciones().size() == 0){
                    <div class="alert alert-block">
                      <button type="button" class="close" data-dismiss="alert">×</button>
                      <h4>Warning!</h4>
                      Aún no has creado secciones para los cursos de Seminario de Tesis, creálas <a class="btn btn-mini" href="/admin/cursos/create" type="button">aquí.</a>
                    </div>
                  }

                  @for(seccion <- edul.getSecciones()){
                    <div class="span3">
                      <div class="well well-small">
                        <h2 class="seccion_codigo">@seccion.getSeccion()</h2>
                            <ul>
                              <li class="seccion_alumnos">@seccion.getUsuarios().size() estudiantes</li>
                              <li class="seccion_preguntas">@seccion.getMensajes().size() preguntas</li>
                            </ul>
                      </div>
                    </div>
                  }

                </div>

              </div>

            </div>

          </div>

        </div>

      </div>
}
