@(usuario: Usuario)
@import helper.twitterBootstrap._
@import helper._

@scripts = {

  // SCRIPT

  /*
   * ENVIO DE MENSAJE DE FORMULARIO FACULTY_MESSAGE
   */

  $($("#faculty_message")).submit(function(){
    console.log("QUIERN ENVIAR");
    return false;
  })

  $($("#faculty_message").find("input[type='submit']")[0]).click(function(){
    
    var _mensaje = $($("#faculty_message").find("textarea")[0]).val();
    var _id = "@usuario.getId()";

      $.ajax({
        type: "POST",
        url: "/facultad/@usuario.getFacultad().getId()/nuevoMensaje",
        contentType : "application/json;charset=utf-8",
        dataType : "json",
        data: JSON.stringify({ 
          id: _id, 
          mensaje: _mensaje
        })
      }).done(function( msg ) {
        console.log( "Message: ", msg );

        /*
         *  CREAR MENSAJE
         */

         $('<div class="span5 post">'+
            '<div class="post-author"></div>'+
            '<div class="post-content">' + msg.mensaje + '' + msg.id + '</div>' +
            '<div class="cut"></div>'+
          '</div>').prependTo($("#facultad_mensajes"));

        // Limpiar Textarea
        $($("#faculty_message").find("textarea")[0]).val("");

      });

  });



} 

@main(usuario, scripts){
  <li class="active"><a href="/">Inicio</a></li>
}{

        @*********************
         * CONTENIDO *
         *********************@ 

      <!-- Example row of columns -->
      <div class="row">

        <div class="span12">
          <div class="row titilium">

            @*********************
             * SIDEBAR IZQUIERDO *
             *********************@ 
            <div class="span3 content-left">
              
              
                <ul class="nav nav-list">
                  <li class="nav-header">
                    CURSOS
                  </li>
                  <li>

                    @*********************
                     * CURSOS DE USUARIO *
                     *********************@ 

                    <a href="#" class="nav-header"><i class="icon-pencil">

                    @if(usuario.getRol() == 0){
                      </i> Llevando actualmente</a>
                    }else{
                      </i> Enseñando actualmente</a>
                    }
                    
                    <ul class="nav nav-list list-courses-user">

                      @for(UsuarioCurso <- usuario.getCursos()) {
                        <li><a href="/cursos/@UsuarioCurso.getSeccion().getCurso().getId()/seccion/@UsuarioCurso.getSeccion().getSeccion()">@UsuarioCurso.getSeccion().getCurso().getNombre() (@UsuarioCurso.getSeccion().getSeccion())</a></li>                        
                      }

                    </ul>

                  </li>

                  <!--<li>

                    @*********************
                     * CURSOS EN GENERAL *
                     *********************@ 

                    <a href="#" class="nav-header"><i class="icon-book"></i> Todos</a>
                    <div class="alert">
                        No disponible
                    </div>
                    
                    <div class="list-courses">
                      <ul class="nav nav-list">
                        <li><a href="#">Seminario de Tesis I</a></li>
                        <li><a href="#">Seguridad de Redes</a></li>
                        <li><a href="#">Redes Inalámbricas</a></li>
                        <li><a href="#">Seminario de Tesis I</a></li>
                        <li><a href="#">Seguridad de Redes</a></li>
                      </ul>
                    </div>
                  </li>-->
                </ul>

              <!--
              @*********************
               * BUSCADOR DE CURSOS *
               *********************@ 
              <ul>
                <div class="input-prepend list-courses-search">
                  <span class="add-on"><i class="icon-search"></i></span><input class="span2" id="inputIcon" type="text" placeholder="Buscar curso ...">
                </div>
              </ul>-->
            



            </div>
            <!-- / SIDEBAR -->
            <div class="span9 content-right">
              
              @*********************
               * FACULTAD           *
               *********************@

              <div class="row row-header">
                <div class="span9 course-image">
                  <h1>@usuario.getFacultad().getNombre()</h1>
                </div>
              </div>

            
              <div class="row">

                <div class="span5">
                  <div class="row">
                    <div class="span5"><h3 class="ulima-color" style="font-size:15px">Comunidad</h3></div>

                    <hr style="margin-top:0px;margin-bottom:10px"/>

                    @*********************
                     * MENSAJES --> FACULTAD *
                     *********************@

                     @**
                        FORMULARIO DE ENVIO DE MENSAJE
                        FACULTY_MESSAGE
                      **@

                    <div class="span5">
                      <form id="faculty_message" method="post" action="@routes.Facultades.nuevoMensaje(usuario.getFacultad().getId().toString())">
                        <textarea class="input-xlarge titilium smart" onfocus="autoTextArea(this)" placeholder="Compartir"></textarea>
                        <input type="submit" class="btn btn-success" value="Publicar"/>
                      </form>
                    </div>

                    @**
                        LISTA DE MENSAJES
                        MURO DE FACULTAD
                      **@
                    <div id="facultad_mensajes">

                    @for(mensaje <- usuario.getFacultad().getMensajes()) {
                      <div class="span5 post">
                        <div class="post-author">@mensaje.getEmisor().getId()</div>
                        <div class="post-content">@mensaje.getContenido()</div>
                      </div>
                    } 

                    </div>

                  </div>
                </div>

                <div class="span4">

                  <div class="row content-right-ads">
                    <div class="span4"></div>
                    <div class="span4"></div>
                    <div class="span4"></div>
                  </div>

                </div>
              </div>


            </div>
          </div>
        </div>

     </div>

}
