@(curso : Curso)

@import helper.twitterBootstrap._
@import helper._


@****************************************
  SCRIPTS
  ***********************************@

@scripts = {

  $('#navbar').affix()

}

@****************************************
  NAVBAR
  ***************************************@

@navbar = {
  <li><a href="/">Inicio</a></li>
  <li><a href="/admin/facultades">Facultades</a></li>
  <li><a href="/admin/usuarios">Usuarios</a></li>
  <li  class="active"><a href="/admin/cursos">Cursos</a></li>
}

@****************************************
  SIDEBAR
  ***********************************@

@sidebar = {
  <ul class="nav nav-list bs-docs-sidenav affix" data-spy="affix" data-offset-top="200" id="navTab">
    <li class="nav-header">ACCIONES</li>
    <li><a href="/admin/cursos"><i class="icon-th-list"></i>Listar cursps</a></li>
    <li><a href="/admin/cursos/create"><i class="icon-plus"></i>Crear curso</a></li>

    <li class="nav-header">@curso.getNombre()</li>
    <li><a href="/admin/cursos/@curso.getId()/edit"><i class="icon-info-sign"></i>Editar información</a></li>
    <li class="active">
      <a href="/admin/cursos/@curso.getId/secciones"><i class="icon-th-large"></i>Secciones</a>
      <ul class="nav nav-list">
        @for(seccion <- curso.getSecciones()){
          <li><a href="/admin/cursos/@curso.getId/seccion/@seccion.getId()"><i class="icon-chevron-right"></i>@seccion.getSeccion()</a></li>
        }
      </ul>
    </li>

  </ul>
}

@****************************************
  MAINBAR
  ***********************************@

@mainbar = {

  <form class="form-horizontal" method="POST" action="/admin/cursos/@curso.getId/add/seccion/">
    <fieldset>
      <legend>Gestionar curso</legend>

      @************************
        SECCIONES
        **********************@

        

        @if(curso.getSecciones().size() == 0){
          <div class="alert alert-error">
            Este curso no tiene secciones. Los usuarios son asignados solo a secciones por curso, por lo que es necesario contar al menos con una sección.
          </div>

          <div class="control-group">
            <label class="control-label" for="input01">Crear sección</label>
            <div class="controls">
              <input type="text" class="span6" name="seccion.codigo" id="input01">
            </div>
          </div>

          <div class="control-group">
            <div class="controls">
              <button class="btn  btn-primary" type="submit">Crear</button>
            </div>
          </div>

        }else{

          <div class="control-group">
            <label class="control-label" for="input01">Crear sección :</label>
            <div class="controls">
              <input type="text" class="span6" name="seccion.codigo" id="input01">
            </div>
          </div>

          <div class="control-group">
            <div class="controls">
              <button class="btn  btn-primary" type="submit">Crear</button>
            </div>
          </div>

          <table class="table table-bordered">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Sección</th>
                  <th>Profesor</th>
                </tr>
              </thead>
              <tbody>
              @for(seccion <- curso.getSecciones()){
                <tr>
                  <td>@seccion.getId()</td>
                  <td>@seccion.getSeccion()</td>
                  @if(seccion.getProfesor() == null){
                    <td><button type="button" class="btn btn-warning btn-small"><i class="icon-exclamation-sign icon-white"></i> Asignar profesor</button></td>
                  }else{
                    <td>@seccion.getProfesor().getNombres() @seccion.getProfesor().getApellidos()</td>
              }

                </tr> 
              }
              </tbody>
                </table>


      }

    </fieldset>
  </form>  
}



@admin_layout(null,scripts,navbar,sidebar,mainbar)