body {
  /*padding-top: 60px;
  padding-bottom: 40px;*/
}

.cinta {
  width:100%;
  height:3px;
  background:#D3380F;
}

.header {
  width: 100%;
  height: 50px;
  position: relative;
  background: url("/assets/img/backgrounds/header.png") repeat-x !important;
  margin-bottom: 20px;
  box-shadow: 0px 1px 4px rgba(0,0,0,.5);
}

.header-inner {
  width:940px;
  height:40px;
  margin:0 auto;
  line-height:40px;
  position:relative;
}

.header-inner .logo {
  font-size:15px;
  color : #FFF ;
  font-family: "Sansation",Arial,sans-serif;
  width:auto;
  height:auto;
}

.header-inner .logo a {
  font-size:15px;
  color : #FFF ;
  font-family: "Sansation",Arial,sans-serif;
  width:auto;
  height:auto;
}

.header-inner .logo .logo-icon {
  width:30px;
  height:30px;
  border-radius:15px;
  float:left;
  box-shadow:1px 1px 5px #9B2C0F ;
  margin-top:7px;
}

.header-inner .logo .logo-icon img {
  vertical-align: text-bottom;
}

.header-inner .logo .logo-description {
  width: auto;
  line-height:33px;
  margin-left:10px;
  float:left;
  text-shadow:0px 1px 1px #9B2C0F;
}

.header-inner .version {
  color: #FFF;
  font-size:12px !important;
  display:inline;
  position:absolute;
  top:13px;
  left:40px;
}

.header-inner .subtitulo {
  color: #FFF !important;
  font-size:12px !important;
  text-shadow:0px 1px 1px #9B2C0F;
}

.header-inner .header-login {
  background: #009FE3;
  width:90px;
  height:30px;
  position:absolute;
  top:-5px;
  right:0px;
  line-height: 30px;
  text-align:center;
  color:#FFF;
  font-family:TitilliumText22LRegular;
  font-size:15px;
}

.header-inner .header-login-button {
  background: #009FE3;
  width:90px;
  height:30px;
  position:absolute;
  top:0px;
  right:0px;
  line-height: 30px;
  text-align:center;
  color:#FFF;
  font-family:TitilliumText22LRegular;
  font-size:15px;
  display:block;
}

.header-login-inner{
  width:220px;
  height:105px;
  background:#009FE3;
  position:absolute;
  top:30px;
  right:0px;
  z-index:10000;
  box-shadow:-2px 2px 3px rgba(0,0,0,0.3);
  padding:5px;
  text-align: left !important;
}

.header-login-button:hover {
  background:#0D8FBC;
  cursor:pointer;
}

.header-login-inner form {
  margin: 0px !important;
}

.header-login-inner input {
  border-radius:0px !important;
  font-size:11px;
  font-family: inherit !important
  text-align: left !important;
  
}

.header-login-inner input[type="text"], .header-login-inner input[type="password"]{
  width:205px !important;
}

.header-login-inner input.btn {
  border-radius:3px !important;
  font-family: inherit !important
  font-weight: bold;
  float:right;
}

.header-login-inner .olvide-contrasena {
  font-size:12px;
  font-family: inherit !important
  float:left;
  margin-left:5px;
}

.header-login-inner .olvide-contrasena:hover {
  text-decoration: underline;
  cursor:pointer;
}

.header-login-inner .olvide-contrasena a {
  text-decoration: none;
  color: #FFF !important;
}

.header-inner .header-login-inner {
  display:none;
}


/*************************************
  HEADER - USER 
**************************************/

.header-user {
  width:auto;
  position:absolute;
  top:10px;
  right:0px;
  background:transparent;
  padding:5px;
  border-radius:3px;
}

.header-user-picture {
  width:40px;
  height:40px;
  background:transparent;
  float:left;
  margin-right:5px;
  border-radius:3px;
}

.header-user-details {
  width:auto;
  height:40px;
  float:left;
}

.header-user-details ul {
  list-style:none;
  padding: 0px !important;
  margin:0px !important;
}

.header-user-details ul li{
  display:block;
  font-family: "Sansation",Arial,sans-serif;
}

.header-user-details ul li.name {
  font-size:13px;
  color:#FFF;
  text-shadow:0px 1px 1px #9B2C0F;
}

.header-user-details ul li a {
  color:#FFF;
  text-shadow:none !important;
}

.header-user-details ul li.dropdown a .caret {
  border-top: 4px solid #FFF;
}
.header-user-details ul.dropdown-menu li a{
  color:#333;
}

.header-user-details ul li.faculty {
  font-size:14px;
  color:#AAA;
  text-shadow:1px 1px 4px rgba(0,0,0,0.1);
}

/* MENU */

.navbar-inner {
  border-radius:0px !important;
  background-color:#FFF !important;
  background-image: none !important;
  -webkit-box-shadow: none !important;
  box-shadow:  none !important;
  border: none !important;
}

.navbar-inner .container {
  width:940px !important;
  font-size:15px !important;
  font-family: inherit !important
}

.navbar {
  line-height: 10px !important;
}

.navbar .nav .active > a, .navbar .nav .active > a:hover {
  color: white;
  text-decoration: none;
  background-color: #E94E1B !important;
}

.navbar .nav > li > a {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.navbar .nav > li > a {
  padding : 5px 15px 5px;
  font-family: "Sansation",Arial,sans-serif
}

.navbar .nav > li.active > a {
  padding : 5px 15px 5px;
  text-shadow:0px 1px 1px #9B2C0F;
  font-family: "Sansation",Arial,sans-serif
}

.navbar .nav > li:hover > a {
  color: white;
  text-shadow:0px 1px 1px #FF8767;
  background-color: #FF7C52 !important;
}

.navbar-inner {
  padding-left:0px !important;
  padding-right:0px !important;
  width:940px !important;
  margin:0 auto;
}

.navbar .navbar-inner .container {
  border-bottom:1px solid #F6F6F6;

}
/*
.navbar .nav > li > a {
  color: #D86D58;
  text-shadow:none !important;
}

.navbar .nav > li > a:hover {
  color: #ffffff;
  text-decoration: none;
  background-color: #E94E1B  !important;
}*/

.hero-unit {
  border-radius:none;
  background-color:#F6F6F6;
  padding:0px;
  height:350px;
}

#myCarousel {
  height:inherit !important;
}

.carousel-inner {
  height:inherit !important;
}

/*.container {
  width:940px !important;
}*/

.carousel-caption h4{
  color: #FFF !important;
  font-family: inherit !important
}

.carousel-caption p{
  color: #FFF !important;
  font-family: inherit !important
}

/* ROWS */

.thumbail {
  width:140px;
  height:140px;
  background:#CCC;
  float:left;
  border-radius:70px;
  box-shadow:0px 0px 5px rgba(0,0,0,0.6);
}

/* PICTURE OF EACH OF THE NEWS */

.new-picture {
  width:150px;
  height:75px;
  background:#CCC;
  float:left;
  border-radius:none !important;
}

.thumbail-mini {
  width:60px;
  height:60px;
  background:#CCC;
  float:left;
  border-radius:70px;
  margin-top:15px;
  box-shadow:0px 0px 5px rgba(0,0,0,0.6);
}

.titilium,
.titilium h1,
.titilium h2,
.titilium h3,
.titilium h4,
.titilium h5,
.titilium h6 {
  font-family: inherit !important
  text-rendering: auto !important;
}

.box {
  border:1px solid rgba(0,0,0,0.1);
  padding:15px;
  border-radius:5px;
  margin-bottom:20px;
}

.ulima-color {
  color: #E94E1B  !important;
}

.media {
  margin-left:0px !important;
}

footer {
  background: #CCC;
  margin-top:50px;
  height:100px;
  background-image: linear-gradient(bottom, rgb(242,242,242) 92%, rgb(247,247,247) 65%);
  background-image: -o-linear-gradient(bottom, rgb(242,242,242) 92%, rgb(247,247,247) 65%);
  background-image: -moz-linear-gradient(bottom, rgb(242,242,242) 92%, rgb(247,247,247) 65%);
  background-image: -webkit-linear-gradient(bottom, rgb(242,242,242) 92%, rgb(247,247,247) 65%);
  background-image: -ms-linear-gradient(bottom, rgb(242,242,242) 92%, rgb(247,247,247) 65%);
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.92, rgb(242,242,242)),
    color-stop(0.65, rgb(247,247,247))
  );

  clear: both;
  height: 100px;
  position: relative;
  margin-top: -100px;
}

.footer-inner {
  width:940px;
  height:100%;
  margin:0 auto;
}

.footer-inner p {
  padding-top: 25px !important;
  font-size: 15px;
  line-height: 25px;
  font-weight: bold;
  color: #615E5E;
  text-shadow: 0px 0px 1px #E7E7E7;
}



.cut {
  clear:both;
}

/*.content-left {
  width:218px !important;
  background:#FFF !important;
  height:600px;
}*/


/*.content-right {
  background:#FFF !important;
}*/

/* INTRANET */
.navbar {
  margin-bottom:0px !important;
}

/*.content-left ul li a {
  color:#000 !important;
}*/

/*
.content-left .list-courses {
  height:200px;
  overflow:auto;
  border-bottom:1px solid rgba(0,0,0,0.1);
} */

/*
 LISTA DE CURSOS "LLEVANDO ACTUALMENTE"
 */

.content-left ul.list-courses-user li a{
  text-transform:capitalize !important;
}


::-webkit-scrollbar {
  width: 5px;
}

/* to style the scrollbar track, black outline curved border */
::-webkit-scrollbar-track {

  /* for curved tracker border */
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background:#FFF;
}

/* to style the scrollbar thumb, white outline, curved border */
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #CCC;

}

::-webkit-scrollbar-thumb:window-inactive {
  background: #CCC;
}

.list-courses-search {
  margin-top:10px;
}

/***********************************************
  PORTAL - INTRANET
 ************************************************/

.facultad-imagen {
  background:#CCC;
  width:100%;
  height:160px;
  width:700px !important;
  background:url("/assets/img/fotos/foto_profesor_llamas.jpg") no-repeat;
  background-position-y: 30px;
  background-position-y: -100px;
  color: white;
  text-shadow: 0px 1px 10px black;
  line-height: 160px !important;
  }

.facultad-imagen h2 {
  line-height: 220px;
  margin-left: 25px;
}


.course-image {
  background:url("/assets/img/fotos/foto_laboratorio.jpg");
  background-position-y: -190px;
  width:100%;
  height:160px;
  width:700px !important;
}

.row-header {
  margin-bottom:10px;
}

/* POST */

.facultad-input-form .btn-success {
  color: white;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #E94E1B;
  background-image: -moz-linear-gradient(top, #E94E1B, #E94E1B);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#E94E1B), to(#E94E1B));
  background-image: -webkit-linear-gradient(top, #E94E1B, #E94E1B);
  background-image: -o-linear-gradient(top, #E94E1B,#E94E1B);
  background-image: linear-gradient(to bottom, #E94E1B, #E94E1B);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff62c462', endColorstr='#ff51a351', GradientType=0);
  border-color: #E94E1B #E94E1B #E94E1B;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  font-weight:bold;
  font-size:11px !important;
  padding:3px 10px;
  float:right;
}

.btn-edul {
  color: white;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #E94E1B;
  background-image: -moz-linear-gradient(top, #E94E1B, #E94E1B);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#E94E1B), to(#E94E1B));
  background-image: -webkit-linear-gradient(top, #E94E1B, #E94E1B);
  background-image: -o-linear-gradient(top, #E94E1B,#E94E1B);
  background-image: linear-gradient(to bottom, #E94E1B, #E94E1B);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff62c462', endColorstr='#ff51a351', GradientType=0);
  border-color: #E94E1B #E94E1B #E94E1B;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  font-weight:bold;
  float:right;
}



.btn-edul:hover {
  color: #FFF;
  text-decoration: none;
  background-color: #DA4919 !important;
  background-position: 0 -15px;
  -webkit-transition: background-position 0.1s linear;
  -moz-transition: background-position 0.1s linear;
  -o-transition: background-position 0.1s linear;
  transition: background-position 0.1s linear;
}

.btn-edul:hover,
.btn-edul:active,
.btn-edul.active,
.btn-edul.disabled,
.btn-edul[disabled] {
  color: #FFF;
  background-color: #E6E6E6;
}

/*textarea.smart {
  width : 380px !important;
  height : 13px;
  margin-top : 10px !important;
  margin-bottom:10px !important;
  background : #FFF !important;
  float : left !important;
  padding:5px !important;
  line-height:normal;
  resize:none !important;
  font:11px 'Tahoma' !important;
  color:#666 !important;
  float:left !important;
  border:1px solid #D8D8D8 !important;
  border-radius:0px !important;
}*/


.post {
  margin-bottom:10px;
}

.post-author-picture {
  width:38px;
  height:40px;
  background:#FFF;
  border-radius:3px !important;
  float:left;
  margin-right:5px;
  box-shadow:1px 1px 1px #CCC !important;
}

.post-content {
  width:415px !important;
  float:left;
  text-align:justify;
  font-family:Arial,sans-serif;
}

.post-content span.post-author {
  font-weight:bold;
  font-size:13px;
}

.post-content p {
  font-size:13px !important;
  line-height:1.4 !important;
  font-family:Arial,sans-serif !important;
  min-height: 30px;
}

.post-footer {
  width:100%;
  font-size:10px !important;
  color:#AFAFAF;
  border-top:1px solid #EFEFEF;
}

.post-footer i{
  font-size:12px;
  color:#9C9C9C;
}

/********************************************
  FACULTAD - AVISOS
  *******************************************/

.facultad-avisos .span4{
  margin-bottom:10px;
}

/** CURSOS */

li.list-user {
  display:block;
  margin-top:5px;
  margin-bottom:5px;
}

li.list-user img.list-user-picture {
  width:24px;
  height:24px;
  float:left;
  margin-right:5px;
}

/* ASESORIAS */

/********************************************

  QUESTION

*********************************************/

.question {
  line-height:normal !important;
  margin-bottom:10px;
  padding: 10px 0px;
  background:#f4f4f4;
  box-shadow:1px 1px 1px rgba(0,0,0,0.2);
}

.question-state {
  width:60px;
  height:60px;
  background:url("../img/icons/mono/comment32.png") no-repeat center;
  border:1px solid rgba(0,0,0,0.01);
  border-radius:3px;
}

.answered {
  background:url("../img/icons/mono/commentblack32.png") no-repeat center;
}

.question-title {
  width:100%;
  height:20px;
  font-size:17px;
  font-weight:bold;
  margin-bottom:2px;
  margin-top:10px;
}

.question-date{
  float:left;
  padding:2px 10px;
  color:#CCC;
  font-size:15px;
  font-weight:bold;
}

.question i {
  font-size:14px !important;
}

.question-author{
  float:left;
  padding:2px 10px;
  color:#CCC;
  font-size:15px;
  font-weight:bold;
}

.question:hover{
  cursor:pointer;
  background:#EFEFEF;
  box-shadow:1px 1px 1px rgba(0,0,0,0.4);
}

.question:hover .question-title {
  color:#333;
}

.question:hover .question-author,
.question:hover .question-date {
  color:#999;
}

.question .row {

}

/* chat */

.message {
  margin-bottom:10px;
  padding-bottom:10px;
  border-bottom:1px solid #EEE;
}

.message-user {
  width:30px;
  height:30px;
  float:left;
  margin-right:5px;
}

.message-user img {
  width:30px;
  height:30px;
}

.message-content {
  float:left;
  background:#FFF;
  width:370px;
  font-size:11px;
  line-height:14px;
}

.message-date {
  float:left;
  width:50px;
  background:#EF7B5C;
  color:#FFF;
  text-align:center;
  vertical-align: center;
}

.content-right-links {
  height:600px;
  background:#CCC !important;
  width:220px;
}

html,body {
    height: 100% !important;
}

#wrap {
    min-height: 100% !important;
}

.container-wrap {
  padding-bottom: 150px;
}

.messages {

}


/********************************************
  
  SUGERENCIAS

  *******************************************/

.sugerencias ul{
  list-style:none;
  padding:0 !important;
}

.controls {
  position:relative !important;
}

.input-prepend{
  position: relative !important;
}

.suggestions {
  padding-left: 0px !important;
  padding-right: 0px !important;
  border:1px solid #CCC;
  background: #FFF;
  width:458px !important;
  position:absolute;
  top:28px;
  left:0;
  z-index: 10000 !important;
}

.suggestions > li > a{
  margin-right: 0px !important;
  margin-left: 0px !important;
  cursor:pointer;
  display:block;
}

.suggestion_metadata {
  display:none;
}

/********************************************
  
  RECEPTORES - MENSAJES

  *******************************************/

.receptor_id {
  display:none;
}

.receptores {
  margin-left:0px !important;
  margin-top:5px !important;
}

.receptores ul{
  padding:0px !important;
  margin-left:0px !important;
  list-style:none !important;
}

.receptores ul li i {
  margin-right:5px;
}

input.with-icon {
  width :422px !important;
}

