@(usuario: Usuario)
@import helper.twitterBootstrap._
@import helper._

@scripts = {



} 

@main(usuario, scripts){

  <style type="text/css">

    .hero-unit {
      padding: 60px;
      margin-bottom: 30px;
      background-color: #EEE;
      -webkit-border-radius: 6px;
      -moz-border-radius: 6px;
      border-radius: 6px;
      height:200px !important;
    }


    .estado {

    }

    .estado ul {
      list-style : none !important;
      height:30px !important;
    }

    .estado ul li {
      float:left;
      margin-right:30px;
    }

    .estado .cantidad {
      display:block;
      font-size:30px;
      font-weight:bold;
    }

    .actividad {
      font-size:12px !important;

    }

    .actividad ul {
      list-style:none;
      height:300px !important;
      overflow:auto;
    }

    .actividad ul li {
      border-bottom: 1px solid #efefef;
      padding-bottom:10px;
      padding-top:10px;
    }

    .actividad ul li i {
      margin-right:5px;
    }

    .page-header h3 {
      line-height: 0px !important;
    }


    .secciones {

    }

    .secciones ul {
      list-style: none;
      padding:0px !important;
      margin:0px !important;
    }

    .secciones ul li {
      list-style: none;
    }



  </style>

  <li class="active"><a href="">Inicio</a></li>
  <li><a href="/admin/facultades">Facultades</a></li>
  <li><a href="/admin/usuarios">Usuarios</a></li>
  <li><a href="/admin/cursos">Cursos</a></li>
}{

        @*********************
         * CONTENIDO *
         *********************@ 

      <!-- Example row of columns -->
      <div class="row">

            <div class="span12">

              <div class="row">
                <div class="span12">
                  @**************************************************************************
                    ESTADO DE LA APLICACIÓN
                    *************************************************************************@
                    <div class="well estado">
                      <ul class="clearfix">
                        <li>
                          <a href="#"><span class="cantidad">123</span> Estudiantes</a>
                        </li>
                        <li>
                          <a href="#"><span class="cantidad">8</span> Profesores</a>
                        </li>
                        <li>
                          <a href="#"><span class="cantidad">254</span> Preguntas</a>
                        </li>
                        <li class="last">
                          <a href="#"><span class="cantidad">123</span> Archivos</a>
                        </li>
                      </ul>
                    </div>
                </div>
              </div>


              <div class="row">

                <div class="span9 actividad">

                    <div class="page-header">
                      <h3>Actividad</h3>
                    </div>

                    <ul>
      
                      <li>
                        <i class="icon-question-sign"></i> <strong>Daniel Flores</strong> preguntó "¿Cómo se realiza un plan de negocios?" en la <strong>sección 701</strong>
                      </li>

                      <li>
                        <i class="icon-question-sign"></i><strong>Miguel Mitsuo</strong> preguntó "¿Cómo se llama el profesor?" en la <strong>sección 702</strong>
                      </li>

                      <li>
                        <i class="icon-comment"></i><strong>Roberto Espinoza</strong> respondió la pregunta "¿Cuántas cartas se necesitan para ganar?" en la <strong>sección 801</strong>
                      </li>

                      <li>
                        <i class="icon-question-sign"></i><strong>Marcelo Arakaki</strong> preguntó "¿Cuántas cartas se necesitan para ganar?" en la <strong>sección 801</strong>
                      </li>

                      <li>
                        <i class="icon-question-sign"></i><strong>Fabrizio Romainville</strong> preguntó "¿Qué se necesita enviar como tema?" en la <strong>sección 802</strong>
                      </li>

                      <li>
                        <i class="icon-comment"></i><strong>Jaime Gutierrez</strong> respondió la pregunta "¿Cuál es la actividad de EduL?" de la <strong>sección 803</strong>
                      </li>

                      <li>
                        <i class="icon-question-sign"></i><strong>Erick Cachay</strong> preguntó "¿QUé se necesita para dominar el mundo?" en la <strong>sección 805</strong>
                      </li>

                      <li>
                        <i class="icon-question-sign"></i> <strong>Daniel Flores</strong> preguntó "¿Cómo se realiza un plan de negocios?" en la <strong>sección 701</strong>
                      </li>

                      <li>
                        <i class="icon-question-sign"></i><strong>Miguel Mitsuo</strong> preguntó "¿Cómo se llama el profesor?" en la <strong>sección 702</strong>
                      </li>

                      <li>
                        <i class="icon-comment"></i><strong>Roberto Espinoza</strong> respondió la pregunta "¿Cuántas cartas se necesitan para ganar?" en la <strong>sección 801</strong>
                      </li>

                      <li>
                        <i class="icon-question-sign"></i><strong>Marcelo Arakaki</strong> preguntó "¿Cuántas cartas se necesitan para ganar?" en la <strong>sección 801</strong>
                      </li>

                      <li>
                        <i class="icon-question-sign"></i><strong>Fabrizio Romainville</strong> preguntó "¿Qué se necesita enviar como tema?" en la <strong>sección 802</strong>
                      </li>

                      <li>
                        <i class="icon-comment"></i><strong>Jaime Gutierrez</strong> respondió la pregunta "¿Cuál es la actividad de EduL?" de la <strong>sección 803</strong>
                      </li>

                      <li>
                        <i class="icon-question-sign"></i><strong>Erick Cachay</strong> preguntó "¿QUé se necesita para dominar el mundo?" en la <strong>sección 805</strong>
                      </li>
                      
                    </ul>
                </div>

            </div> @*** FIN DE FILA *******************************************************@

            @************************** FILA - SECCIONES - SEMINARIO DE TESIS I ****************************@
            <div class="row">

              <div class="span12 secciones">
                
                <div class="page-header">
                    <h3>Seminario de Tesis I</h3>
                </div>

                <div class="row">

                  <div class="span3">
                    <div class="well well-small">
                      <span class="seccion_codigo">901</span>
                          <ul>
                            <li class="seccion_alumnos">32 alumnos</li>
                            <li class="seccion_preguntas">40 preguntas</li>
                          </ul>
                    </div>
                  </div>

                  <div class="span3">
                    <div class="well well-small">
                      <span class="seccion_codigo">901</span>
                          <ul>
                            <li class="seccion_alumnos">32 alumnos</li>
                            <li class="seccion_preguntas">40 preguntas</li>
                          </ul>
                    </div>
                  </div>

                  <div class="span3">
                    <div class="well well-small">
                      <span class="seccion_codigo">901</span>
                          <ul>
                            <li class="seccion_alumnos">32 alumnos</li>
                            <li class="seccion_preguntas">40 preguntas</li>
                          </ul>
                    </div>
                  </div>


                  <div class="span3">
                    <div class="well well-small">
                      <span class="seccion_codigo">901</span>
                          <ul>
                            <li class="seccion_alumnos">32 alumnos</li>
                            <li class="seccion_preguntas">40 preguntas</li>
                          </ul>
                    </div>
                  </div>

                  <div class="span3">
                    <div class="well well-small">
                      <span class="seccion_codigo">901</span>
                          <ul>
                            <li class="seccion_alumnos">32 alumnos</li>
                            <li class="seccion_preguntas">40 preguntas</li>
                          </ul>
                    </div>
                  </div>

                  <div class="span3">
                    <div class="well well-small">
                      <span class="seccion_codigo">901</span>
                          <ul>
                            <li class="seccion_alumnos">32 alumnos</li>
                            <li class="seccion_preguntas">40 preguntas</li>
                          </ul>
                    </div>
                  </div>


                  <div class="span3">
                    <div class="well well-small">
                      <span class="seccion_codigo">901</span>
                          <ul>
                            <li class="seccion_alumnos">32 alumnos</li>
                            <li class="seccion_preguntas">40 preguntas</li>
                          </ul>
                    </div>
                  </div>

                </div>

              </div>

            </div>

            @************************** FILA - SECCIONES - SEMINARIO DE TESIS II ****************************@
            <div class="row">

              <div class="span12 secciones">
                
                <div class="page-header">
                    <h3>Seminario de Tesis II</h3>
                </div>

                <div class="row">

                  <div class="span3">
                    <div class="well well-small">
                      <span class="seccion_codigo">901</span>
                          <ul>
                            <li class="seccion_alumnos">32 alumnos</li>
                            <li class="seccion_preguntas">40 preguntas</li>
                          </ul>
                    </div>
                  </div>

                  <div class="span3">
                    <div class="well well-small">
                      <span class="seccion_codigo">901</span>
                          <ul>
                            <li class="seccion_alumnos">32 alumnos</li>
                            <li class="seccion_preguntas">40 preguntas</li>
                          </ul>
                    </div>
                  </div>

                  <div class="span3">
                    <div class="well well-small">
                      <span class="seccion_codigo">901</span>
                          <ul>
                            <li class="seccion_alumnos">32 alumnos</li>
                            <li class="seccion_preguntas">40 preguntas</li>
                          </ul>
                    </div>
                  </div>


                  <div class="span3">
                    <div class="well well-small">
                      <span class="seccion_codigo">901</span>
                          <ul>
                            <li class="seccion_alumnos">32 alumnos</li>
                            <li class="seccion_preguntas">40 preguntas</li>
                          </ul>
                    </div>
                  </div>

                </div>

              </div>

            </div>









            </div>

        </div>

      </div>
}
