@(usuario: Usuario)
@import helper.twitterBootstrap._
@import helper._

@scripts = {



} 

@main(usuario, scripts){
  <li class="active"><a href="">Inicio</a></li>
  <li><a href="/admin/facultades">Facultades</a></li>
  <li><a href="/admin/usuarios">Usuarios</a></li>
  <li><a href="/admin/cursos">Cursos</a></li>
}{

        @*********************
         * CONTENIDO *
         *********************@ 

      <!-- Example row of columns -->
      <div class="row">

        <div class="span12">
          <div class="row titilium">

            <!-- / SIDEBAR -->
            <div class="span9 content-right">
              
              <h1>Administración</h1>

            </div>
          </div>
        </div>

     </div>

}
