@(usuario: Usuario)
@import helper.twitterBootstrap._
@import helper._

@scripts = {



} 

@main(usuario, scripts){

  <style type="text/css">

    .hero-unit {
      padding: 60px;
      margin-bottom: 30px;
      background-color: #EEE;
      -webkit-border-radius: 6px;
      -moz-border-radius: 6px;
      border-radius: 6px;
      height:200px !important;
    }


    .estado {
      height:30px !important;
    }

    .estado ul {
      list-style : none !important;
      height:30px !important;
      margin-left:0px !important;
    }

    .estado ul li {
      float:left;
      margin-right:30px;
    }

    .estado .cantidad {
      display:block;
      font-size:30px;
      font-weight:bold;
    }

    .actividad {
      font-size:12px !important; 
    }

    .actividad .well {
      padding-top:30px;
    }

    .actividad .page-header {
      margin:0 0 0 0 !important;
      margin-bottom:5px !important;
      background:#E94E1B;
      height:30px;
      padding:0px !important;
    }

    .actividad .page-header h3 {
      vertical-align: text-bottom;
      line-height:25px !important;
      color:#FFF;
      padding-left:10px;
      padding-top:2px;
    }

    .actividad .actividad-header {
      font-weight:bold;
      font-size:11px;
      position:absolute;
      top:0;
      right:0;
      z-index:10000;
      background: #E94E1B;
      padding:0px 5px;
      color: #FFF;
    }

    .actividad ul {
      list-style:none;
      height:450px !important;
      overflow:auto;
      margin-left:0px !important;
    }

    .actividad ul li {
      border-bottom: 1px solid #efefef;
      padding-bottom:10px;
      padding-top:10px;
    }

    .actividad .actividad-icono {
      height:40px;
      background:transparent;
      float:left;
      margin-right:5px;
      line-height:40px;
      padding:0px !important;
    }

    .actividad .actividad-icono i {
      font-size:30px;
      margin:0px !important;
      vertical-align: text-bottom;
      color: #E94E1B;
    }

    .actividad .actividad-descripcion {
      float:left;
      width:390px;
    }

    .page-header h3 {
      line-height: 0px !important;
    }


    .secciones {

    }

    .secciones ul {
      list-style: none;
      padding:0px !important;
      margin:0px !important;
    }

    .secciones ul li {
      list-style: none;
    }

    .well {
      position:relative !important;
    }

    .chart_title {
      font-weight:bold;
      font-size:11px;
      position:absolute;
      bottom:0;
      right:0;
      z-index:10000;
      background: #E94E1B;
      padding:0px 5px;
      color: #FFF;
    }

    .estado-icono {
      width:40px;
      height:40px;
      float:left;
      font-size:40px;
      margin-right:10px;
    }

    .estado-icono i {
      vertical-align: bottom !important;
    }

    .estado-info {
      float:left;

    }

  </style>

  <li class="active"><a href="">Inicio</a></li>
  <li><a href="/admin/facultades">Facultades</a></li>
  <li><a href="/admin/usuarios">Usuarios</a></li>
  <li><a href="/admin/cursos">Cursos</a></li>
}{


    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">

      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);

      function drawChart()
      {

        var data = google.visualization.arrayToDataTable([
          ['Semana', 'Preguntas', 'Alumnos preguntando'],
          ['1',  0,      0],
          ['2',  12,      20],
          ['3',  123,       21],
          ['4',  32,      100]
        ]);

        var options = {
          fontSize : 12,
          chartArea :  {
            width : 250,
            left : 30,
            top:20
          },
          hAxis : {
            title : "Semanas"
          }
        };

        var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
        chart.draw(data, options);

        // PIE CHART
        
        data = google.visualization.arrayToDataTable([
          ['Sección', 'Preguntas'],
          ['901',     11],
          ['902',      2],
          ['903',  2],
          ['904', 2],
          ['905',    7]
        ]);

        options = {
          fontSize : 12
        };

        chart = new google.visualization.PieChart(document.getElementById('chart_pie_div'));
        chart.draw(data, options);

      }

    </script>



        @*********************
         * CONTENIDO *
         *********************@ 

      <!-- Example row of columns -->
      <div class="row">

            <div class="span12">

              <div class="row">
                <div class="span12">
                  @**************************************************************************
                    ESTADO DE LA APLICACIÓN
                    *************************************************************************@
                    <div class="well estado clearfix">
                      <ul class="clearfix">
                        <li class="clearfix">
                          <div class="estado-icono"><i class="icon-camera-retro"></i></div>
                          <div class="estado-info"><a href="#"><span class="cantidad">123</span> Estudiantes</a></div>
                        </li>
                        <li class="clearfix">
                          <div class="estado-icono"><i class="icon-briefcase"></i></div>
                          <div class="estado-info"><a href="#"><span class="cantidad">13</span> Profesores</a></div>
                        </li>
                        <li class="clearfix">
                          <div class="estado-icono"><i class="icon-question-sign"></i></div>
                          <div class="estado-info"><a href="#"><span class="cantidad">27</span> Preguntas</a></div>
                        </li>
                        <li class="last clearfix">
                          <div class="estado-icono"><i class="icon-paper-clip"></i></div>
                          <div class="estado-info"><a href="#"><span class="cantidad">74</span> Archivos</a></div>
                        </li>
                      </ul>
                    </div>
                </div>
              </div>


              <div class="row">

                <div class="span6 actividad">

                  <div class="well well-small">

                    <div class="actividad-header">
                      Actividad
                    </div>                   

                    <ul>

                      @************************ ACTIVIDAD ***********************@
                      <li class="clearfix">
                        
                        <div class="actividad-icono"><i class="icon-question-sign"></i></div>

                        <div class="actividad-descripcion">
                          <strong>Daniel Flores</strong> preguntó "¿Cómo se realiza un plan de negocios?" en la <strong>sección 701</strong>
                        </div> 

                      </li> @************************ ACTIVIDAD ***********************@

                     
                      @************************ ACTIVIDAD ***********************@
                      <li class="clearfix">
                        
                        <div class="actividad-icono"><i class=" icon-comment-alt"></i></div>

                        <div class="actividad-descripcion">
                          <strong>Daniel Flores</strong> preguntó "¿Cómo se realiza un plan de negocios?" en la <strong>sección 701</strong>
                        </div> 

                      </li> @************************ ACTIVIDAD ***********************@

                      @************************ ACTIVIDAD ***********************@
                      <li class="clearfix">
                        
                        <div class="actividad-icono"><i class="icon-question-sign"></i></div>

                        <div class="actividad-descripcion">
                          <strong>Daniel Flores</strong> preguntó "¿Cómo se realiza un plan de negocios?" en la <strong>sección 701</strong>
                        </div> 

                      </li> @************************ ACTIVIDAD ***********************@

                      @************************ ACTIVIDAD ***********************@
                      <li class="clearfix">
                        
                        <div class="actividad-icono"><i class="icon-question-sign"></i></div>

                        <div class="actividad-descripcion">
                          <strong>Daniel Flores</strong> preguntó "¿Cómo se realiza un plan de negocios?" en la <strong>sección 701</strong>
                        </div> 

                      </li> @************************ ACTIVIDAD ***********************@

                      @************************ ACTIVIDAD ***********************@
                      <li class="clearfix">
                        
                        <div class="actividad-icono"><i class=" icon-comment-alt"></i></div>

                        <div class="actividad-descripcion">
                          <strong>Daniel Flores</strong> preguntó "¿Cómo se realiza un plan de negocios?" en la <strong>sección 701</strong>
                        </div> 

                      </li> @************************ ACTIVIDAD ***********************@

                      @************************ ACTIVIDAD ***********************@
                      <li class="clearfix">
                        
                        <div class="actividad-icono"><i class="icon-question-sign"></i></div>

                        <div class="actividad-descripcion">
                          <strong>Daniel Flores</strong> preguntó "¿Cómo se realiza un plan de negocios?" en la <strong>sección 701</strong>
                        </div> 

                      </li> @************************ ACTIVIDAD ***********************@

                      @************************ ACTIVIDAD ***********************@
                      <li class="clearfix">
                        
                        <div class="actividad-icono"><i class=" icon-comment-alt"></i></div>

                        <div class="actividad-descripcion">
                          <strong>Daniel Flores</strong> preguntó "¿Cómo se realiza un plan de negocios?" en la <strong>sección 701</strong>
                        </div> 

                      </li> @************************ ACTIVIDAD ***********************@

                      @************************ ACTIVIDAD ***********************@
                      <li class="clearfix">
                        
                        <div class="actividad-icono"><i class="icon-question-sign"></i></div>

                        <div class="actividad-descripcion">
                          <strong>Daniel Flores</strong> preguntó "¿Cómo se realiza un plan de negocios?" en la <strong>sección 701</strong>
                        </div> 

                      </li> @************************ ACTIVIDAD ***********************@

                      @************************ ACTIVIDAD ***********************@
                      <li class="clearfix">
                        
                        <div class="actividad-icono"><i class=" icon-comment-alt"></i></div>

                        <div class="actividad-descripcion">
                          <strong>Daniel Flores</strong> preguntó "¿Cómo se realiza un plan de negocios?" en la <strong>sección 701</strong>
                        </div> 

                      </li> @************************ ACTIVIDAD ***********************@

                      @************************ ACTIVIDAD ***********************@
                      <li class="clearfix">
                        
                        <div class="actividad-icono"><i class="icon-question-sign"></i></div>

                        <div class="actividad-descripcion">
                          <strong>Daniel Flores</strong> preguntó "¿Cómo se realiza un plan de negocios?" en la <strong>sección 701</strong>
                        </div> 

                      </li> @************************ ACTIVIDAD ***********************@

                      @************************ ACTIVIDAD ***********************@
                      <li class="clearfix">
                        
                        <div class="actividad-icono"><i class="icon-question-sign"></i></div>

                        <div class="actividad-descripcion">
                          <strong>Daniel Flores</strong> preguntó "¿Cómo se realiza un plan de negocios?" en la <strong>sección 701</strong>
                        </div> 

                      </li> @************************ ACTIVIDAD ***********************@
                      
                    </ul>
                </div>

              </div>

                <div class="span6">

                  <div class="row">
                    
                    
                    <div class="span6"> 
                        <div class="well well-small">
                          <div class="chart_title">Preguntas vs Usuarios Preguntando</div>
                          <div id="chart_div"  style="height:200px"></div>
                        </div>
                    </div>

                    <div class="span6" style="height:150px"> 
                        <div class="well well-small">
                          <div class="chart_title">Preguntas por sección</div>
                          <div id="chart_pie_div"  style="height:200px"></div>
                        </div>
                    </div>

                  </div>

                </div>

            </div> @*** FIN DE FILA *******************************************************@

            @************************** FILA - SECCIONES - SEMINARIO DE TESIS I ****************************@
            <div class="row">

              <div class="span12 secciones">
                
                <div class="page-header">
                    <h3>Seminario de Tesis I</h3>
                </div>

                <div class="row">

                  <div class="span3">
                    <div class="well well-small">
                      <span class="seccion_codigo">901</span>
                          <ul>
                            <li class="seccion_alumnos">32 alumnos</li>
                            <li class="seccion_preguntas">40 preguntas</li>
                          </ul>
                    </div>
                  </div>

                  <div class="span3">
                    <div class="well well-small">
                      <span class="seccion_codigo">901</span>
                          <ul>
                            <li class="seccion_alumnos">32 alumnos</li>
                            <li class="seccion_preguntas">40 preguntas</li>
                          </ul>
                    </div>
                  </div>

                  <div class="span3">
                    <div class="well well-small">
                      <span class="seccion_codigo">901</span>
                          <ul>
                            <li class="seccion_alumnos">32 alumnos</li>
                            <li class="seccion_preguntas">40 preguntas</li>
                          </ul>
                    </div>
                  </div>


                  <div class="span3">
                    <div class="well well-small">
                      <span class="seccion_codigo">901</span>
                          <ul>
                            <li class="seccion_alumnos">32 alumnos</li>
                            <li class="seccion_preguntas">40 preguntas</li>
                          </ul>
                    </div>
                  </div>

                  <div class="span3">
                    <div class="well well-small">
                      <span class="seccion_codigo">901</span>
                          <ul>
                            <li class="seccion_alumnos">32 alumnos</li>
                            <li class="seccion_preguntas">40 preguntas</li>
                          </ul>
                    </div>
                  </div>

                  <div class="span3">
                    <div class="well well-small">
                      <span class="seccion_codigo">901</span>
                          <ul>
                            <li class="seccion_alumnos">32 alumnos</li>
                            <li class="seccion_preguntas">40 preguntas</li>
                          </ul>
                    </div>
                  </div>


                  <div class="span3">
                    <div class="well well-small">
                      <span class="seccion_codigo">901</span>
                          <ul>
                            <li class="seccion_alumnos">32 alumnos</li>
                            <li class="seccion_preguntas">40 preguntas</li>
                          </ul>
                    </div>
                  </div>

                </div>

              </div>

            </div>

            @************************** FILA - SECCIONES - SEMINARIO DE TESIS II ****************************@
            <div class="row">



              <div class="span12 secciones">
                
                <div class="page-header">
                    <h3>Seminario de Tesis II</h3>
                </div>

                <div class="row">

                  <div class="span3">
                    <div class="well well-small">
                      <span class="seccion_codigo">901</span>
                          <ul>
                            <li class="seccion_alumnos">32 alumnos</li>
                            <li class="seccion_preguntas">40 preguntas</li>
                          </ul>
                    </div>
                  </div>

                  <div class="span3">
                    <div class="well well-small">
                      <span class="seccion_codigo">901</span>
                          <ul>
                            <li class="seccion_alumnos">32 alumnos</li>
                            <li class="seccion_preguntas">40 preguntas</li>
                          </ul>
                    </div>
                  </div>

                  <div class="span3">
                    <div class="well well-small">
                      <span class="seccion_codigo">901</span>
                          <ul>
                            <li class="seccion_alumnos">32 alumnos</li>
                            <li class="seccion_preguntas">40 preguntas</li>
                          </ul>
                    </div>
                  </div>


                  <div class="span3">
                    <div class="well well-small">
                      <span class="seccion_codigo">901</span>
                          <ul>
                            <li class="seccion_alumnos">32 alumnos</li>
                            <li class="seccion_preguntas">40 preguntas</li>
                          </ul>
                    </div>
                  </div>

                </div>

              </div>




            </div>









            </div>

        </div>

      </div>
}
