@(universidades : List[models.Universidad], facultades : List[models.Facultad], carreras : List[Carrera], usuarios : List[Usuario])

@import helper.twitterBootstrap._
@import helper._

@scripts = {

$('#navbar').affix()

$(function () {
    $('#navTab a:first').tab('show');
})

$('#navTab a').click(function (e) {
  e.preventDefault();
  $(this).tab('show');
})


} 

@main(null, scripts){

  <style>

    .navbar .nav li.dropdown.open > .dropdown-toggle, .navbar .nav li.dropdown.active > .dropdown-toggle, .navbar .nav li.dropdown.open.active > .dropdown-toggle {
      color: #FFF !important;
    }

    .navbar .nav > li > a {
      text-shadow: none !important;
    }

    .navbar .nav li.dropdown.open > .dropdown-toggle .caret, .navbar .nav li.dropdown.active > .dropdown-toggle .caret, .navbar .nav li.dropdown.open.active > .dropdown-toggle .caret {
      border-top-color : #FFF !important;
      border-bottom-color: #FFF !important;
    }

  </style>

  <li class="dropdown active">
    <a id="drop1" href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">Usuarios <b class="caret"></b></a>
    <ul class="dropdown-menu" role="menu" aria-labelledby="drop1">
      <li><a tabindex="-1" href="/admin/facultades">Facultades</a></li>
      <li><a tabindex="-1" href="/admin/cursos">Cursos</a></li>
      <li class="divider"></li>
      <li><a tabindex="-1" href="/admin">Inicio</a></li>
    </ul>
  </li>

  <li><a href="#formulario_usuarios"><i class="icon-plus"></i> Agregar usuario</a></li>

  
}{

  <style type="text/css">
  </style>

        @*********************
         * CONTENIDO *
         *********************@ 

      <!-- Example row of columns -->
      <div class="row">

        <div class="span12">
          <div class="row titilium">

            <!--
              SIDEBAR
            -->
            <!--<div class="span2 pull-left">
              <ul class="nav nav-list bs-docs-sidenav affix" data-spy="affix" data-offset-top="200" id="navTab">
                <li class="nav-header">ACCIONES</li>
                <li class="active"><a href="#lista_usuarios"><i class="icon-th-list"></i>Listar usuarios</a></li>
                <li ><a href="#formulario_usuarios"><i class="icon-plus"></i>Crear usuarios</a></li>
              </ul>         
            </div>-->
            <!-- / SIDEBAR -->

            <div class="span12 pull-right">


              @*********************
               * LISTA DE USUARIOS *
               *********************@


               <div class="tab-content">

                @****************** LISTA USUARIOS *******************@
                <div class="tab-pane active" id="lista_usuarios">

                  <table class="table table-hover">
                    <thead>
                      <tr>
                        <th>ID</th>
                        <th>Nombres</th>
                        <th>Apellidos</th>
                        <th>Usuario</th>
                        <th>Email</th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>

                      @for(usuario <- usuarios){
                        <tr>
                          <td>@usuario.getId()</td>
                          <td>@usuario.getNombres()</td>
                          <td>@usuario.getApellidos()</td>
                          <td>@usuario.getUsername()</td>
                          <td>
                            @if(usuario.getEmail() != null){
                              @usuario.getEmail()
                            }else{
                              -
                            }
                            
                          </td>
                          <td>
                            <a class="btn btn-small pull-right" href="#" ><i class="icon-trash"></i></a>
                            <a class="btn btn-small pull-right" href="#" style="margin-right:5px"><i class="icon-edit"></i></a>
                          </td>
                        </tr>
                      }

                      @for(usuario <- usuarios){
                        <tr>
                          <td>@usuario.getId()</td>
                          <td>@usuario.getNombres()</td>
                          <td>@usuario.getApellidos()</td>
                          <td>@usuario.getUsername()</td>
                          <td>@usuario.getEmail()</td>
                          <td>
                            <a class="btn btn-small pull-right" href="#" ><i class="icon-trash"></i></a>
                            <a class="btn btn-small pull-right" href="#" style="margin-right:5px"><i class="icon-edit"></i></a>
                          </td>
                        </tr>
                      }

                      @for(usuario <- usuarios){
                        <tr>
                          <td>@usuario.getId()</td>
                          <td>@usuario.getNombres()</td>
                          <td>@usuario.getApellidos()</td>
                          <td>@usuario.getUsername()</td>
                          <td>@usuario.getEmail()</td>
                          <td>
                            <a class="btn btn-small pull-right" href="#" ><i class="icon-trash"></i></a>
                            <a class="btn btn-small pull-right" href="#" style="margin-right:5px"><i class="icon-edit"></i></a>
                          </td>
                        </tr>
                      }
                          
                    </tbody>
                  </table>


                </div>

                @****************** FORMULARIO USUARIOS *******************@

                <div class="tab-pane" id="formulario_usuarios">

                  @*********************
                  * FORMULARIO *
                  *********************@ 


              <!-- ACA INICIA EL FORMULARIO -->
                    
                    <form class="form-horizontal" method="POST" action="/usuarios/new">
                      <fieldset>
                        <legend>Nuevo usuario</legend>

                        <div class="control-group">
                          <label class="control-label" for="input01">Nombres</label>
                          <div class="controls">
                            <input type="text" class="span6" name="usuario.nombres" id="input01">
                          </div>
                        </div>

                        <div class="control-group">
                          <label class="control-label" for="input01">Apellidos</label>
                          <div class="controls">
                            <input type="text" class="span6" name="usuario.apellidos" id="input01">
                          </div>
                        </div>

                        <div class="control-group">
                          <label class="control-label" for="input01">Nombre de usuario</label>
                          <div class="controls">
                            <input type="text" class="span6" name="usuario.username" id="input01">
                          </div>
                        </div>

                        <div class="control-group">
                          <label class="control-label" for="input01">Contraseña</label>
                          <div class="controls">
                            <input type="text" class="span6" name="usuario.password" id="input01">
                          </div>
                        </div>

                        <div class="control-group">
                          <label class="control-label" for="input01">Email</label>
                          <div class="controls">
                            <input type="text" class="span6" name="usuario.email" id="input01">
                          </div>
                        </div>

                        @****************
                        *    ROLES      *
                        ****************@

                        <div class="control-group">
                          <label class="control-label">Rol</label>
                          <div class="controls">
                            <label class="radio">
                              <input type="radio" name="usuario.rol" id="optionsRadios1" value="0" checked="">
                              Estudiante
                            </label>
                            <label class="radio">
                              <input type="radio" name="usuario.rol" id="optionsRadios2" value="1">
                              Profesor
                            </label>
                            <label class="radio">
                              <input type="radio" name="usuario.rol" id="optionsRadios2" value="2">
                              Administrador
                            </label>
                          </div>
                        </div>

                        @****************
                        *   PRIVILEGIOS *
                        ****************@

                        <div class="control-group">
                          <label class="control-label">Privilegios</label>
                          <div class="controls">
                            <label class="radio">
                              <input type="radio" name="usuario.privilegio" id="optionsRadios1" value="0" checked="">
                              Usuario estándar
                            </label>
                            <label class="radio">
                              <input type="radio" name="usuario.privilegio" id="optionsRadios2" value="1">
                              Usuario privilegiado
                            </label>
                            <label class="radio">
                              <input type="radio" name="usuario.privilegio" id="optionsRadios2" value="2">
                              Administrador
                            </label>
                          </div>
                        </div>

                        @****************
                        * UNIVERSIDADES *
                        ****************@

                        <div class="control-group">
                          <label class="control-label" for="select01">Universidad</label>
                          <div class="controls">
                            <select id="select01" name="usuario.universidad">

                              @for(universidad <- universidades) {
                                <option value="@universidad.getId()">@universidad.getNombre()</li>
                              } 

                            </select>
                          </div>
                        </div>


                        @****************
                        *  FACULTADES   *
                        ****************@

                        <div class="control-group">
                          <label class="control-label" for="select01">Facultad</label>
                          <div class="controls">
                            <select id="select01" name="usuario.facultad">

                              @for(facultad <- facultades) {
                                <option value="@facultad.getId()">@facultad.getNombre()</li>
                              } 

                            </select>
                          </div>
                        </div>


                        @****************
                        *  CARRERAS     *
                        ****************@

                        <div class="control-group">
                          <label class="control-label" for="select01">Carrera</label>
                          <div class="controls">
                            <select id="select01" name="usuario.carrera">

                              @for(carrera <- carreras) {
                                <option value="@carrera.getId()">@carrera.getNombre()</li>
                              } 

                            </select>
                          </div>
                        </div>
                       

                        <!--<div class="control-group">
                          <label class="control-label" for="input01">Detalles</label>
                          <div class="controls">
                            <textarea class="input-xlarge titilium span6" id="textarea" placeholder="Explica detalladamente tu consulta, por favor."></textarea>
                          </div>
                        </div>-->

                        <div class="control-group">
                          <div class="controls">
                            <button class="btn  btn-primary" type="submit">Crear</button>
                          </div>
                        </div>

                      </fieldset>
                    </form>


                </div> @**************************** /FORMULARIO USUARIOS ****************************@

              </div>


            </div>
          </div>
        </div>

     </div>

}