@(facultades : List[Facultad])

@import helper.twitterBootstrap._
@import helper._


@****************************************
  SCRIPTS
  ***********************************@

@scripts = {

  $('#navbar').affix()

}

@****************************************
  NAVBAR
  ***************************************@

@navbar = {
  <li><a href="">Inicio</a></li>
  <li class="active"><a href="/admin/facultades">Facultades</a></li>
  <li><a href="/admin/usuarios">Usuarios</a></li>
  <li><a href="/admin/cursos">Cursos</a></li>
}

@****************************************
  SIDEBAR
  ***********************************@

@sidebar = {
  <ul class="nav nav-list bs-docs-sidenav affix" data-spy="affix" data-offset-top="200" id="navTab">
    <li class="nav-header">ACCIONES</li>
    <li class="active"><a href="/admin/facultades"><i class="icon-th-list"></i>Listar facultades</a></li>
    <li><a href="/admin/facultades/create"><i class="icon-plus"></i>Crear facultad</a></li>
  </ul>
}

@****************************************
  MAINBAR
  ***********************************@

@mainbar = {

  @if(facultades.size() == 0){
    <div class="alert alert-info">
      <strong>¡No existen facultades!</strong> Prueba a crear una desde <a class="btn btn-mini" href="/admin/facultades/create" type="button">aquí.</a>
    </div>
  }else {
    <table class="table table-hover">
      <thead>
        <tr>
          <th>ID</th>
          <th>Nombre</th>
          <th>Universidad</th>
          <th></th>
        </tr>
      </thead>
      <tbody>

        @for(facultad <- facultades){
          <tr>
            <td>@facultad.getId()</td>
            <td>@facultad.getNombre()</td>
            <td>@facultad.getUniversidad().getNombre()</td>
            <td>
              <a class="btn btn-small pull-right" href="/admin/facultades/@facultad.getId()/delete" ><i class="icon-trash"></i></a>
              <a class="btn btn-small pull-right" href="/admin/facultades/@facultad.getId()/edit" style="margin-right:5px"><i class="icon-edit"></i></a>
            </td>
          </tr>
        }
            
      </tbody>
    </table>
  }
  
}



@admin_layout(null,scripts,navbar,sidebar,mainbar)