@(seccion : Seccion, preguntas : List[Mensaje])

@import helper.twitterBootstrap._
@import helper._


@****************************************
  SCRIPTS
  ***********************************@

@scripts = {

  /*
   *  Al cliquear sobre cualquier área fuera de las sugerencias, estas se eliminan.
   */ 

  $("body").click(function(e) {
   if(e.target.className !== 'suggestions' || e.target.className !== 'suggestion'){
      $(".suggestions").remove();
    }
  });

  /*
   *  Al seleccionar una sugerencia
   */

  $(".input-prepend").on("click",".suggestions .suggestion",function(e){

    var nombre = $(e.target).text();
    var id = $($(e.target).parent()).find(".receptor_id").text();

    $("<li><i class='icon-user'></i><span class='receptor_id'>" + id + "</span>" +  nombre + "</li>").appendTo($(".receptores ul"));

    $("input[name='mensaje.receptor']").val("");

  });

  /*
   * Sugerencias de profesores del curso a ser receptores
   */

  $("input[name='mensaje.receptor']").keyup(function(e){

    $(".suggestions").remove();

    $.ajax({
        type: "GET",
        url: "/curso/@seccion.getCurso().getId()/seccion/profesores/all",
        contentType : "application/json;charset=utf-8",
        dataType : "json",
      }).done(function( msg ) {

        console.log("PROFESORES : " ,msg);

        var lista = msg;

        var value = $(e.target).val();
        var m = new RegExp(value,"g");
        var sugerencias = "";

        for(var i in lista){
          if(lista[i].nombres.match(m) != null){

            var exists= false;

            for(var j=0;j<$(".receptores ul li").length;j++){
              if(lista[i].id == $($(".receptores ul li")[j]).find(".receptor_id").text()){
                exists = true;
                break;
              }
            }

            if(!exists)
              sugerencias += '<li><span class="suggestion_metadata receptor_id">' + lista[i].id + '</span><a class="suggestion">' + lista[i].nombres + '</a></li>';
          }      
        }

        if(sugerencias != ""){
          var lista_sugerencias = $("<ul class='nav nav-list span6 suggestions'>" + sugerencias + "</ul>");
          lista_sugerencias.insertAfter($(e.target));
        }
    });

  });
  
  /*
   * Formulario de envío de consulta
   */

  $("#form-consulta").submit(function(e){

    e.preventDefault();
    e.stopPropagation();

    var mensaje = {
      emisor : @session.get("id"),
      titulo : null,
      contenido : null,
      receptores : [],
      curso : @seccion.getCurso().getId(),
      seccion : @seccion.getId()
    }

    // Título

    mensaje.titulo = $("#form-consulta input[name='mensaje.titulo']").val();

    // Contenido

    mensaje.contenido = $("#form-consulta textarea[name='mensaje.contenido']").val();

    // Receptores
    var lista_receptores = $(".receptores ul li");

    for(var i=0;i<lista_receptores.length;i++){
      // Agregar receptor
      mensaje.receptores.push($($(lista_receptores[i]).find(".receptor_id")).text());
    }

    $.ajax({
        type: "POST",
        url: "/curso/@seccion.getCurso().getId()/seccion/@seccion.getId()/asesoria/new",
        contentType : "application/json;charset=utf-8",
        dataType : "json",
        data: JSON.stringify({
          mensaje: mensaje
        })
      }).done(function(msg ) {


      });

      return false;

  });

  /*
   *  Función de filtrado de usuarios
   */

  $(".list-user").click(function(e){
    var id = $(this).attr("data-user");

    $(".question").show();

    $(".question[data-user!='" + id + "']").toggle();
    e.preventDefault();

  });

  $("#blabla").tooltip();

}

@****************************************
  NAVBAR
  ***************************************@

@navbar = {
  <li><a href="/">Inicio</a></li>
  <li><a href="/cursos/@seccion.getCurso().getId()/seccion/@seccion.getId()">@seccion.getCurso().getNombre() | @seccion.getSeccion()
  </a></li>
  <li class="active"><a href="/cursos/@seccion.getCurso().getId()/seccion/@seccion.getId()/preguntas">Asesoría</a></li>
}

@****************************************
  SIDEBAR
  ***********************************@

@sidebar = {
  <ul class="nav nav-list">

    @*********************
     * ALUMNOS *
     *********************@

     <li class="nav-header">ACCIONES</li>
     <li class="active">
        <a href="/cursos/@seccion.getCurso().getId()/seccion/@seccion.getId()/preguntas"><i class="icon-th-list"></i>Preguntas internas</a>
     </li>
     <li>
        <a href="/cursos/@seccion.getCurso().getId()/seccion/@seccion.getId()/preguntas"><i class="icon-share"></i>Preguntas externas <span class="badge badge-important">2</span></a>
     </li>


    @**************************************
      FILTRADO POR ALUMNO
      *************************************@

    <li>
      <a href="#" id="blabla" class="nav-header"><i class="icon-filter"></i> Filtrar por ALUMNO</a>

      <div class="list-courses">
        <ul class="nav nav-list">

          @if(seccion.getAlumnos().size() == 0){
            <li><div class="alert alert-block">
              <h5>¡No existen alumnos en el curso!</h5>
              <span style="font-size:12px">Consulta a un administrador para que se asignen los alumnos al curso, por favor.</span>
            </div></li>
          }


          @for(seccion_usuario <- seccion.getUsuarios()){
            @if(seccion_usuario.getUsuario().getRol() == 0){
              <li class="list-user" data-user="@seccion_usuario.getUsuario().getId()">
                <img class="list-user-picture" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-snc4/275746_1200589147_4305319_q.jpg"/>
                <a href="#">@seccion_usuario.getUsuario().getNombreSimple()</a>
                <div class="cut"></div>
              </li>
            }
          }

        </ul>
      </div>
    </li>


    @*************************
     * FILTRADO POR ASESORES *
     *************************@  

    <li>
      <a href="#" class="nav-header"><i class="icon-user"></i>FILTRAR POR ASESOR</a>
      <div class="list-courses">
        <ul class="nav nav-list">

          @if(seccion.getAsesores().size() == 0){
            <li>
              <div class="alert alert-block">
                <h5>¡No existen asesores asignados al curso!</h5>
                <span style="font-size:12px">Consulta a un administrador para que se asignen los asesores al curso, por favor.</span>
              </div>
            </li>
          }

          @for(asesor <- seccion.getAsesores()){
              <li class="list-user" data-user="@asesor.getId()">
                <img class="list-user-picture" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-snc4/275746_1200589147_4305319_q.jpg"/>
                <a href="#">@asesor.getNombreSimple()</a>
                <div class="cut"></div>
              </li>
              }
        </ul>
      </div>
    </li>




  </ul>
}

@****************************************
  MAINBAR
  ***********************************@

@mainbar = {

              <div class="row">

                <!-- BOX 1 -->
                <div class="span9">
                  <div class="row">

                    
                    @if(seccion.getPreguntas().size() == 0){
                    <div class="span9">
                      <div class="alert alert-info">
                        Los alumnos de la sección todavía no realizan preguntas.
                      </div>
                    </div>
                    }else{
                    
                      @****************************
                        PREGUNTAS RECIBIDAS
                        ***************************@

                      @for(pregunta <- seccion.getPreguntas()){
                        <a href="pregunta/@pregunta.getId()">
                        <!-- PREGUNTA -->
                        <div class="span9 question" data-user="@pregunta.getEmisor().getId()" data-touser = "@pregunta.getStringReceptores()">
                          <div class="row">
                            <div class="span1">
                              <div class="question-state"></div>
                            </div>
                            @****************************

                              Si el título es más extenso que 100 carácteres, cortarlo y agregarle "..." al final,
                              esto para que se centre bien verticalmente. 

                              ***************************@

                              @if(pregunta.getTitulo().length() > 70){
                                @pregunta.setTitulo(pregunta.getTitulo().substring(0,70) + " ...")
                              }
                              
                            <div class="span8">
                              <div class="question-title">@pregunta.getTitulo()</div>
                              <div class="question-author"><i class="icon-user"></i> @pregunta.getEmisor().getNombres()</div>
                               <div class="question-date"><i class="icon-circle-arrow-right"></i> 

                              @if(pregunta.getReceptores().size() == 1){
                                @for(pregunta_receptor <- pregunta.getReceptores()){
                                  @pregunta_receptor.getReceptor().getNombres()
                                }
                              }else{
                                @for((pregunta_receptor,i) <- pregunta.getReceptores().zipWithIndex){
                                     @pregunta_receptor.getReceptor().getNombres()
                                  @if(i % 2 == 0){
                                    ,
                                  }                                 
                                }
                              }
                              
                            </div>

                            <div class="question-date"><i class="icon-time"></i> @pregunta.getFechaFormateada()</div>








                              <!--<div class="question-content">@pregunta.getContenido()</div>-->
                            </div>

                          </div>
                        </div> <!--/PREGUNTA-->
                        </a>
                    }

                  }






                  </div>
                </div>
            </div> <!-- /BOX 1 -->  
}



@user_layout(null,scripts,navbar,sidebar,mainbar)