@(usuario : Usuario, curso : Curso)
@scripts = {

  $('.typeahead').typeahead();
  

}

@import helper._
@main(usuario,scripts){

    <li><a href="/">Inicio</a></li>
    <li><a href="/curso/@curso.getId()">@curso.getNombre()</a></li>
    <li class="active"><a href="/curso/@curso.getId()/asesoria">Asesoría</a></li>

}{
    <div class="row">

        <div class="span12">
          <div class="row titilium">
            <!--
              SIDEBAR
            -->
            <div class="span3 content-left">
              
              
                <ul class="nav nav-list">
                  <li class="nav-header">
                    PERSONAS
                  </li>
                  <li>
                    <!-- 
                      PERSONAS
                    -->
                    <a href="#" class="nav-header"><i class="icon-user"></i> PROFESORES</a>
                    <ul class="nav nav-list">

                      @*********************
                       * PROFESORES *
                       *********************@      

                      @for(profesor <- curso.getProfesores()) {
                        <li class="list-user">
                          <img class="list-user-picture" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-snc4/275746_1200589147_4305319_q.jpg"/>
                          <a href="#">@profesor.getNombres()</a>
                          <div class="cut"></div>
                        </li>
                      }

                      </li>
                    </ul>
                    <!-- / PERSONAS -->

                  </li>

                  <li>
                    <a href="#" class="nav-header"><i class="icon-user"></i> ASESORES</a>
                    <div class="list-courses">
                      <ul class="nav nav-list">
                        <!-- PERSONAS -->
                          <!--<li class="list-user">
                            <img class="list-user-picture" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-snc4/275746_1200589147_4305319_q.jpg"/>
                            <a href="#">Freddy Cahuas</a>
                            <div class="cut"></div>
                          </li>
                          <li class="list-user">
                            <img class="list-user-picture" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-ash2/369309_1270467084_942844184_q.jpg"/>
                            <a href="#">Freddy Cahuas</a>
                            <div class="cut"></div>
                          </li>
                          <li class="list-user">
                            <img class="list-user-picture" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-snc4/48815_1032202210_1657296_q.jpg"/>
                            <a href="#">Freddy Cahuas</a>
                            <div class="cut"></div>
                          </li>
                          <li class="list-user">
                            <img class="list-user-picture" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-ash2/161585_1104992034_168476089_q.jpg"/>
                            <a href="#">Freddy Cahuas</a>
                            <div class="cut"></div>
                          </li>
                          <li class="list-user">
                            <img class="list-user-picture" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-snc4/211528_100002280642888_4125957_q.jpg"/>
                            <a href="#">Freddy Cahuas</a>
                            <div class="cut"></div>
                          </li>
                          <li class="list-user">
                            <img class="list-user-picture" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-snc4/275746_1200589147_4305319_q.jpg"/>
                            <a href="#">Freddy Cahuas</a>
                            <div class="cut"></div>
                          </li>
                          <li class="list-user">
                            <img class="list-user-picture" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-ash2/369309_1270467084_942844184_q.jpg"/>
                            <a href="#">Freddy Cahuas</a>
                            <div class="cut"></div>
                          </li>
                          <li class="list-user">
                            <img class="list-user-picture" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-snc4/48815_1032202210_1657296_q.jpg"/>
                            <a href="#">Freddy Cahuas</a>
                            <div class="cut"></div>
                          </li>
                          <li class="list-user">
                            <img class="list-user-picture" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-ash2/161585_1104992034_168476089_q.jpg"/>
                            <a href="#">Freddy Cahuas</a>
                            <div class="cut"></div>
                          </li>
                          <li class="list-user">
                            <img class="list-user-picture" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-snc4/211528_100002280642888_4125957_q.jpg"/>
                            <a href="#">Freddy Cahuas</a>
                            <div class="cut"></div>
                          </li>
                          <li class="list-user">
                            <img class="list-user-picture" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-snc4/275746_1200589147_4305319_q.jpg"/>
                            <a href="#">Freddy Cahuas</a>
                            <div class="cut"></div>
                          </li>
                          <li class="list-user">
                            <img class="list-user-picture" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-ash2/369309_1270467084_942844184_q.jpg"/>
                            <a href="#">Freddy Cahuas</a>
                            <div class="cut"></div>
                          </li>
                          <li class="list-user">
                            <img class="list-user-picture" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-snc4/48815_1032202210_1657296_q.jpg"/>
                            <a href="#">Freddy Cahuas</a>
                            <div class="cut"></div>
                          </li>
                          <li class="list-user">
                            <img class="list-user-picture" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-ash2/161585_1104992034_168476089_q.jpg"/>
                            <a href="#">Freddy Cahuas</a>
                            <div class="cut"></div>
                          </li>
                          <li class="list-user">
                            <img class="list-user-picture" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-snc4/211528_100002280642888_4125957_q.jpg"/>
                            <a href="#">Freddy Cahuas</a>
                            <div class="cut"></div>
                          </li>
                          <li class="list-user">
                            <img class="list-user-picture" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-snc4/275746_1200589147_4305319_q.jpg"/>
                            <a href="#">Freddy Cahuas</a>
                            <div class="cut"></div>
                          </li>
                          <li class="list-user">
                            <img class="list-user-picture" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-ash2/369309_1270467084_942844184_q.jpg"/>
                            <a href="#">Freddy Cahuas</a>
                            <div class="cut"></div>
                          </li>
                          <li class="list-user">
                            <img class="list-user-picture" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-snc4/48815_1032202210_1657296_q.jpg"/>
                            <a href="#">Freddy Cahuas</a>
                            <div class="cut"></div>
                          </li>
                          <li class="list-user">
                            <img class="list-user-picture" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-ash2/161585_1104992034_168476089_q.jpg"/>
                            <a href="#">Freddy Cahuas</a>
                            <div class="cut"></div>
                          </li>
                          <li class="list-user">
                            <img class="list-user-picture" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-snc4/211528_100002280642888_4125957_q.jpg"/>
                            <a href="#">Freddy Cahuas</a>
                            <div class="cut"></div>
                          </li>-->
                        <!-- /PERSONAS -->
                      </ul>
                    </div>
                  </li>
                </ul>

              <!--<ul>
                <div class="input-prepend list-courses-search">
                  <span class="add-on"><i class="icon-search"></i></span><input class="span2" id="inputIcon" type="text" placeholder="Buscar curso ...">
                </div>
              </ul>-->
            



            </div>
            <!-- / SIDEBAR -->
            <div class="span9 content-right">
              
              <div class="row row-header">
                <div class="span9">
                  <div class="well">
                    
                    <form class="form-horizontal">
                      <fieldset>
                        <legend>Nueva consulta</legend>
                       
                        <div class="control-group">
                          <label class="control-label" for="input01">Título de pregunta</label>
                          <div class="controls">
                            <input type="text" class="span6" id="input01" name="mensaje.titulo">
                          </div>
                        </div>

                        <div class="control-group">
                          <label class="control-label" for="input01">Detalles</label>
                          <div class="controls">
                            <textarea class="input-xlarge titilium span6" id="textarea" name="mensaje.contenido" placeholder="Explica detalladamente tu consulta, por favor."></textarea>
                          </div>
                        </div>

                        <div class="control-group">
                          <label class="control-label" for="input01">Destinatario</label>
                          <div class="controls">
                            @curso.getProfesorPorSeccion(usuario.getCurso(curso.getId()).getSeccion()).getNombres();
                            <input type="text" class="span6" data-provide="typeahead">
                          </div>
                        </div>

                        <div class="control-group">
                          <div class="controls">
                            <button class="btn  btn-primary" type="submit">Consultar</button>
                          </div>
                        </div>

                      </fieldset>
                    </form>


                  </div>
                </div>
              </div>

              <div class="row">

                <!-- BOX 1 -->
                <div class="span9">
                  <div class="row">

                    

                    <div class="span9">
                      <h3 class="ulima-color" style="font-size:15px">Preguntas</h3>
                      <hr style="margin-top:0px;margin-bottom:10px"/>
                    </div>

                    <!-- PREGUNTA -->
                    <div class="span9 question">
                      <div class="row">
                        <div class="span1">
                          <div class="question-state"></div>
                        </div>

                        <div class="span8">
                          <div class="question-title">¿Cómo se realiza un plan de negocios?</div>
                          <div class="question-content">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy ... </div>
                        </div>
                      </div>
                    </div> <!--/PREGUNTA-->

                    <!-- PREGUNTA -->
                    <div class="span9 question">
                      <div class="row">
                        <div class="span1">
                          <div class="question-state answered"></div>
                        </div>

                        <div class="span8">
                          <div class="question-title">¿Dónde puedo conseguir el formato de registro?</div>
                          <div class="question-content">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy ... </div>
                        </div>
                      </div>
                    </div> <!--/PREGUNTA-->

                    <!-- PREGUNTA -->
                    <div class="span9 question">
                      <div class="row">
                        <div class="span1">
                          <div class="question-state"></div>
                        </div>

                        <div class="span8">
                          <div class="question-title">¿Qué lenguaje de programación me recomienda para mi proyecto de Tesis?</div>
                          <div class="question-content">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy ... </div>
                        </div>
                      </div>
                    </div> <!--/PREGUNTA-->






                  </div>
                </div>
                </div> <!-- /BOX 1 -->

                
                
              </div>



              </div>
            </div>
          </div>
}