@(usuario : Usuario, curso : Curso, pregunta : Mensaje)
@scripts = {

  /*
   *  Al cliquear sobre cualquier área fuera de las sugerencias, estas se eliminan.
   */ 

  $("body").click(function(e) {
   if(e.target.className !== 'suggestions' || e.target.className !== 'suggestion'){
      $(".suggestions").remove();
    }
  });

  /*
   *  Al seleccionar una sugerencia
   */

  $(".input-prepend").on("click",".suggestions .suggestion",function(e){

    var nombre = $(e.target).text();
    var id = $($(e.target).parent()).find(".receptor_id").text();

    $("<li><i class='icon-user'></i><span class='receptor_id'>" + id + "</span>" +  nombre + "</li>").appendTo($(".receptores ul"));

    $("input[name='mensaje.receptor']").val("");

  });

  /*
   * Sugerencias de profesores del curso a ser receptores
   */

  $("input[name='mensaje.receptor']").keyup(function(e){

    $(".suggestions").remove();

    $.ajax({
        type: "GET",
        url: "/curso/@curso.getId()/profesores/all",
        contentType : "application/json;charset=utf-8",
        dataType : "json",
      }).done(function( msg ) {

        console.log("PROFESORES : " ,msg);

        var lista = msg;

        var value = $(e.target).val();
        var m = new RegExp(value,"g");
        var sugerencias = "";

        for(var i in lista){
          if(lista[i].nombres.match(m) != null){

            var exists= false;

            for(var j=0;j<$(".receptores ul li").length;j++){
              if(lista[i].id == $($(".receptores ul li")[j]).find(".receptor_id").text()){
                exists = true;
                break;
              }
            }

            if(!exists)
              sugerencias += '<li><span class="suggestion_metadata receptor_id">' + lista[i].id + '</span><a class="suggestion">' + lista[i].nombres + '</a></li>';
          }      
        }

        if(sugerencias != ""){
          var lista_sugerencias = $("<ul class='nav nav-list span6 suggestions'>" + sugerencias + "</ul>");
          lista_sugerencias.insertAfter($(e.target));
        }
    });

  });
  
  /*
   * Formulario de envío de consulta
   */

  $("#form-consulta").submit(function(e){

    e.preventDefault();
    e.stopPropagation();

    var mensaje = {
      emisor : @usuario.getId(),
      titulo : null,
      contenido : null,
      receptores : [],
      curso : @curso.getId(),
      seccion : @usuario.getCurso(curso.getId()).getSeccion()
    }

    // Título

    mensaje.titulo = $("#form-consulta input[name='mensaje.titulo']").val();

    // Contenido

    mensaje.contenido = $("#form-consulta textarea[name='mensaje.contenido']").val();

    // Receptores
    var lista_receptores = $(".receptores ul li");

    for(var i=0;i<lista_receptores.length;i++){
      // Agregar receptor
      mensaje.receptores.push($($(lista_receptores[i]).find(".receptor_id")).text());
    }

    $.ajax({
        type: "POST",
        url: "/curso/@curso.getId()/asesoria/new",
        contentType : "application/json;charset=utf-8",
        dataType : "json",
        data: JSON.stringify({
          mensaje: mensaje
        })
    }).done(function(msg ){

    });

    return false;
  })

  /*
   *  Formulario de envío de respuesta
   */

   $("#form-respuesta").submit(function(e){

    e.preventDefault();
    e.stopPropagation();

    var respuesta = {
      emisor : @usuario.getId(),
      contenido : null,
      seccion : @usuario.getCurso(curso.getId()).getSeccion()
    }

    // Contenido

    respuesta.contenido = $("#form-respuesta textarea[name='respuesta.contenido']").val();

    $.ajax({
        type: "POST",
        url: "/curso/@curso.getId()/pregunta/@pregunta.getId()/respuesta",
        contentType : "application/json;charset=utf-8",
        dataType : "json",
        data: JSON.stringify({
          respuesta: respuesta
        })
    }).done(function(msg ){

    });

    return false;

   });


}

@import helper._
@main(usuario,scripts){

    <style type="text/css">
      .sugerencias ul{
        list-style:none;
        padding:0 !important;
      }

      .controls {
        position:relative !important;
      }

      .input-prepend{
        position: relative !important;
      }

      .suggestions {
        padding-left: 0px !important;
        padding-right: 0px !important;
        border:1px solid #CCC;
        background: #FFF;
        width:458px !important;
        position:absolute;
        top:28px;
        left:0;
        z-index: 10000 !important;
      }

      .suggestions > li > a{
        margin-right: 0px !important;
        margin-left: 0px !important;
        cursor:pointer;
        display:block;
      }

      .suggestion_metadata {
        display:none;
      }

      .receptor_id {
        display:none;
      }

      .receptores {
        margin-left:0px !important;
        margin-top:5px !important;
      }

      .receptores ul{
        padding:0px !important;
        margin-left:0px !important;
        list-style:none !important;
      }

      .receptores ul li i {
        margin-right:5px;
      }

      input.with-icon {
        width :422px !important;
      }

    </style>

    <li><a href="/">Inicio</a></li>
    <li><a href="/cursos/@curso.getId()">@curso.getNombre()</a></li>
    <li class="active"><a href="/curso/@curso.getId()/asesoria">Asesoría</a></li>

}{
    <div class="row">

        <div class="span12">
          <div class="row titilium">
            <!--
              SIDEBAR
            -->
            <div class="span3 content-left">
              
              
                <ul class="nav nav-list">
                  <li class="nav-header">
                    PERSONAS
                  </li>
                  <li>
                    <!-- 
                      PERSONAS
                    -->
                    <a href="#" class="nav-header"><i class="icon-user"></i> PROFESORES</a>
                    <ul class="nav nav-list">

                      @*********************
                       * PROFESORES *
                       *********************@      

                      @for(profesor <- curso.getProfesores()) {
                        <li class="list-user">
                          <img class="list-user-picture" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-snc4/275746_1200589147_4305319_q.jpg"/>
                          <a href="#">@profesor.getNombres()</a>
                          <div class="cut"></div>
                        </li>
                      }

                      </li>
                    </ul>
                    <!-- / PERSONAS -->

                  </li>

                  <li>
                    <a href="#" class="nav-header"><i class="icon-user"></i> ASESORES</a>
                    <div class="list-courses">
                      <ul class="nav nav-list">
                        <!-- PERSONAS -->
                          <!--<li class="list-user">
                            <img class="list-user-picture" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-snc4/275746_1200589147_4305319_q.jpg"/>
                            <a href="#">Freddy Cahuas</a>
                            <div class="cut"></div>
                          </li>
                          <li class="list-user">
                            <img class="list-user-picture" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-ash2/369309_1270467084_942844184_q.jpg"/>
                            <a href="#">Freddy Cahuas</a>
                            <div class="cut"></div>
                          </li>
                          <li class="list-user">
                            <img class="list-user-picture" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-snc4/48815_1032202210_1657296_q.jpg"/>
                            <a href="#">Freddy Cahuas</a>
                            <div class="cut"></div>
                          </li>
                          <li class="list-user">
                            <img class="list-user-picture" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-ash2/161585_1104992034_168476089_q.jpg"/>
                            <a href="#">Freddy Cahuas</a>
                            <div class="cut"></div>
                          </li>
                          <li class="list-user">
                            <img class="list-user-picture" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-snc4/211528_100002280642888_4125957_q.jpg"/>
                            <a href="#">Freddy Cahuas</a>
                            <div class="cut"></div>
                          </li>
                          <li class="list-user">
                            <img class="list-user-picture" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-snc4/275746_1200589147_4305319_q.jpg"/>
                            <a href="#">Freddy Cahuas</a>
                            <div class="cut"></div>
                          </li>
                          <li class="list-user">
                            <img class="list-user-picture" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-ash2/369309_1270467084_942844184_q.jpg"/>
                            <a href="#">Freddy Cahuas</a>
                            <div class="cut"></div>
                          </li>
                          <li class="list-user">
                            <img class="list-user-picture" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-snc4/48815_1032202210_1657296_q.jpg"/>
                            <a href="#">Freddy Cahuas</a>
                            <div class="cut"></div>
                          </li>
                          <li class="list-user">
                            <img class="list-user-picture" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-ash2/161585_1104992034_168476089_q.jpg"/>
                            <a href="#">Freddy Cahuas</a>
                            <div class="cut"></div>
                          </li>
                          <li class="list-user">
                            <img class="list-user-picture" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-snc4/211528_100002280642888_4125957_q.jpg"/>
                            <a href="#">Freddy Cahuas</a>
                            <div class="cut"></div>
                          </li>
                          <li class="list-user">
                            <img class="list-user-picture" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-snc4/275746_1200589147_4305319_q.jpg"/>
                            <a href="#">Freddy Cahuas</a>
                            <div class="cut"></div>
                          </li>
                          <li class="list-user">
                            <img class="list-user-picture" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-ash2/369309_1270467084_942844184_q.jpg"/>
                            <a href="#">Freddy Cahuas</a>
                            <div class="cut"></div>
                          </li>
                          <li class="list-user">
                            <img class="list-user-picture" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-snc4/48815_1032202210_1657296_q.jpg"/>
                            <a href="#">Freddy Cahuas</a>
                            <div class="cut"></div>
                          </li>
                          <li class="list-user">
                            <img class="list-user-picture" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-ash2/161585_1104992034_168476089_q.jpg"/>
                            <a href="#">Freddy Cahuas</a>
                            <div class="cut"></div>
                          </li>
                          <li class="list-user">
                            <img class="list-user-picture" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-snc4/211528_100002280642888_4125957_q.jpg"/>
                            <a href="#">Freddy Cahuas</a>
                            <div class="cut"></div>
                          </li>
                          <li class="list-user">
                            <img class="list-user-picture" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-snc4/275746_1200589147_4305319_q.jpg"/>
                            <a href="#">Freddy Cahuas</a>
                            <div class="cut"></div>
                          </li>
                          <li class="list-user">
                            <img class="list-user-picture" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-ash2/369309_1270467084_942844184_q.jpg"/>
                            <a href="#">Freddy Cahuas</a>
                            <div class="cut"></div>
                          </li>
                          <li class="list-user">
                            <img class="list-user-picture" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-snc4/48815_1032202210_1657296_q.jpg"/>
                            <a href="#">Freddy Cahuas</a>
                            <div class="cut"></div>
                          </li>
                          <li class="list-user">
                            <img class="list-user-picture" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-ash2/161585_1104992034_168476089_q.jpg"/>
                            <a href="#">Freddy Cahuas</a>
                            <div class="cut"></div>
                          </li>
                          <li class="list-user">
                            <img class="list-user-picture" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-snc4/211528_100002280642888_4125957_q.jpg"/>
                            <a href="#">Freddy Cahuas</a>
                            <div class="cut"></div>
                          </li>-->
                        <!-- /PERSONAS -->
                      </ul>
                    </div>
                  </li>
                </ul>

              <!--<ul>
                <div class="input-prepend list-courses-search">
                  <span class="add-on"><i class="icon-search"></i></span><input class="span2" id="inputIcon" type="text" placeholder="Buscar curso ...">
                </div>
              </ul>-->
            



            </div>
            <!-- / SIDEBAR -->
            <div class="span9 content-right">
              
              <div class="row">

                <!-- BOX 1 -->
                <div class="span9">
                  <div class="row">

                    

                    <div class="span9">
                      <h3 class="ulima-color" style="font-size:15px">Preguntas</h3>
                      <hr style="margin-top:0px;margin-bottom:10px"/>
                    </div>
       
                    <!-- PREGUNTA -->
                    <div class="span9 question">
                      <div class="row">
                        <div class="span1">
                          <div class="question-state"></div>
                        </div>

                        <div class="span8">
                          <div class="question-title">@pregunta.getTitulo()</div>
                          <div class="question-content">@pregunta.getContenido()</div>
                        </div>


                      </div>
                    </div> <!--/PREGUNTA-->


                    @for(respuesta <- pregunta.getMensajes()){

                    <!-- PREGUNTA -->
                    <div class="span9 response">
                      <div class="row">
                        <div class="span1">
                          <div class="question-state"></div>
                        </div>

                        <div class="span8">
                          <div class="question-content">@respuesta.getContenido()</div>
                        </div>
                      </div>
                    </div> <!--/PREGUNTA-->

                    }

                    


                    <div class="span9 question">
                      <form method="POST" id="form-respuesta" action="/curso/@curso.getId()/pregunta/@pregunta.getId()/respuesta">
                        <textarea class="span9" name="respuesta.contenido"></textarea>
                        <button type="submit" class="btn btn-large"><i class="icon-comment"></i> Comment</button>
                      </form>
                    </div>




                  </div>
                </div>
              </div> <!-- /BOX 1 -->
    
            </div>






              </div>
            </div>
          </div>
}