@(usuario : Usuario, universidades : List[Universidad], facultades : List[Facultad])

@import helper.twitterBootstrap._
@import helper._

@scripts = {

$('#navbar').affix()

$(function () {
    $('#navTab a:first').tab('show');
})

$('#navTab a').click(function (e) {
  e.preventDefault();
  $(this).tab('show');
})


} 

@main(null, scripts){

  <style>

    .navbar .nav li.dropdown.open > .dropdown-toggle, .navbar .nav li.dropdown.active > .dropdown-toggle, .navbar .nav li.dropdown.open.active > .dropdown-toggle {
      color: #FFF !important;
    }

    .navbar .nav > li > a {
      text-shadow: none !important;
    }

    .navbar .nav li.dropdown.open > .dropdown-toggle .caret, .navbar .nav li.dropdown.active > .dropdown-toggle .caret, .navbar .nav li.dropdown.open.active > .dropdown-toggle .caret {
      border-top-color : #FFF !important;
      border-bottom-color: #FFF !important;
    }

  </style>

  <li><a href="/">Inicio</a></li>
  <!--<li><a href="/admin/facultades">Facultades</a></li>-->
  <li class="active"><a href="/admin/usuarios">Usuarios</a></li>
  <li><a href="/admin/cursos">Cursos</a></li>
  
}{

  <style type="text/css">
  </style>

        @*********************
         * CONTENIDO *
         *********************@

      <!-- Example row of columns -->
      <div class="row">

        <div class="span12">
          <div class="row titilium">

            <!--
              SIDEBAR
            -->
            <div class="span3 pull-left">
              <ul class="nav nav-list bs-docs-sidenav affix" data-spy="affix" data-offset-top="200" id="navTab">
                <li class="nav-header">ACCIONES</li>
                <li class="active"><a href="/admin/usuarios"><i class="icon-th-list"></i>Listar usuarios</a></li>
                <li><a href="/admin/usuarios/create"><i class="icon-plus"></i>Crear usuario</a></li>
              </ul>         
            </div>
            <!-- / SIDEBAR -->

            <div class="span9 pull-right">


                  @*********************
                  * FORMULARIO *
                  *********************@ 


                  <!-- ACA INICIA EL FORMULARIO -->
                    
                    <form class="form-horizontal" method="POST" action="/admin/usuarios/@usuario.getId()/update">
                      <fieldset>
                        <legend>Editar usuario</legend>

                        <div class="control-group">
                          <label class="control-label" for="input01">Nombres</label>
                          <div class="controls">
                            <input type="text" class="span6" name="usuario.nombres" id="input01" value="@usuario.getNombres()">
                          </div>
                        </div>

                        <div class="control-group">
                          <label class="control-label" for="input01">Apellidos</label>
                          <div class="controls">
                            <input type="text" class="span6" name="usuario.apellidos" id="input01" value="@usuario.getApellidos()">
                          </div>
                        </div>

                        <div class="control-group">
                          <label class="control-label" for="input01">Nombre de usuario</label>
                          <div class="controls">
                            <input type="text" class="span6" name="usuario.username" id="input01" value="@usuario.getUsername()">
                          </div>
                        </div>

                        <div class="control-group">
                          <label class="control-label" for="input01">Contraseña</label>
                          <div class="controls">
                            <input type="text" class="span6" name="usuario.password" id="input01"  value="@usuario.getPassword()">
                          </div>
                        </div>

                        <div class="control-group">
                          <label class="control-label" for="input01">Email</label>
                          <div class="controls">
                            <input type="text" class="span6" name="usuario.email" id="input01" value="@usuario.getEmail()">
                          </div>
                        </div>

                        @****************
                        *    ROLES      *
                        ****************@

                        <div class="control-group">
                          <label class="control-label">Rol</label>
                          <div class="controls">
                            <label class="radio">

                              @if(usuario.getRol() == 0){
                                <input type="radio" name="usuario.rol" id="optionsRadios1" value="0" checked="">
                              }else{
                                <input type="radio" name="usuario.rol" id="optionsRadios1" value="0">
                              }
                              
                              Alumno

                            </label>
                            <label class="radio">

                              @if(usuario.getRol() == 1){
                                <input type="radio" name="usuario.rol" id="optionsRadios2" value="1" checked="">
                              }else{
                                <input type="radio" name="usuario.rol" id="optionsRadios2" value="1">
                              }
                              Profesor

                            </label>
                            <label class="radio">

                              @if(usuario.getRol() == 2){
                                <input type="radio" name="usuario.rol" id="optionsRadios2" value="2" checked="">
                              }else{
                                <input type="radio" name="usuario.rol" id="optionsRadios2" value="1">
                              }
                              Administrador

                            </label>
                          </div>
                        </div>

                        @****************
                        *   PRIVILEGIOS *
                        ****************@

                        <div class="control-group">
                          <label class="control-label">Privilegios</label>
                          <div class="controls">
                            <label class="radio">

                              @if(usuario.getPrivilegio() == 0){
                                <input type="radio" name="usuario.privilegio" id="optionsRadios2" value="0" checked="">
                              }else{
                                <input type="radio" name="usuario.privilegio" id="optionsRadios2" value="0">
                              }
                              Usuario

                            </label>
                            <label class="radio">

                              @if(usuario.getPrivilegio() == 1){
                                <input type="radio" name="usuario.privilegio" id="optionsRadios2" value="0" checked="">
                              }else{
                                <input type="radio" name="usuario.privilegio" id="optionsRadios2" value="0">
                              }
                              Super Usuario

                            </label>
                            <label class="radio">

                              @if(usuario.getPrivilegio() == 2){
                                <input type="radio" name="usuario.privilegio" id="optionsRadios2" value="2" checked="">
                              }else{
                                <input type="radio" name="usuario.privilegio" id="optionsRadios2" value="2">
                              }
                              Sistema

                            </label>
                          </div>
                        </div>

                        @****************
                        * UNIVERSIDADES *
                        ****************@

                        <div class="control-group">
                          <label class="control-label" for="select01">Universidad</label>
                          <div class="controls">
                            <select id="select01" name="usuario.universidad">

                                @for(universidad <- universidades) {

                                  @if(usuario.getUniversidad() == null){
                                    <option value="@universidad.getId()">@universidad.getNombre()</li>
                                  }else{
                                    @if(universidad.getId() == usuario.getUniversidad().getId()){
                                      <option value="@universidad.getId()" selected>@universidad.getNombre()</li>
                                    }else{
                                      <option value="@universidad.getId()">@universidad.getNombre()</li>
                                    }
                                  } 
                              }

                            </select>
                          </div>
                        </div>


                        @****************
                        *  FACULTADES   *
                        ****************@

                        <div class="control-group">
                          <label class="control-label" for="select01">Facultad</label>
                          <div class="controls">
                            <select id="select01" name="usuario.facultad">

                              
                                @for(facultad <- facultades) {
                                  @if(usuario.getFacultad() == null){
                                    <option value="@facultad.getId()">@facultad.getNombre()</li>
                                  }else{
                                    @if(facultad.getId() == usuario.getFacultad().getId()){
                                      <option value="@facultad.getId()" selected>@facultad.getNombre()</li>
                                    }else{
                                      <option value="@facultad.getId()">@facultad.getNombre()</li>
                                    }
                                  } 
                                }

                            </select>
                          </div>
                        </div>


                        <!--<div class="control-group">
                          <label class="control-label" for="input01">Detalles</label>
                          <div class="controls">
                            <textarea class="input-xlarge titilium span6" id="textarea" placeholder="Explica detalladamente tu consulta, por favor."></textarea>
                          </div>
                        </div>-->

                        <div class="control-group">
                          <div class="controls">
                            <button class="btn  btn-primary" type="submit">Actualizar</button>
                          </div>
                        </div>

                      </fieldset>
                    </form>
            </div>
          </div>
        </div>

     </div>

}