@(seccion : Seccion)

@import helper.twitterBootstrap._
@import helper._


@****************************************
  SCRIPTS
  ***********************************@

@scripts = {

  /*
   *  Al cliquear sobre cualquier área fuera de las sugerencias, estas se eliminan.
   */ 

  $("body").click(function(e) {
   if(e.target.className !== 'suggestions' || e.target.className !== 'suggestion'){
      $(".suggestions").remove();
    }
  });

  /*
   *  Al seleccionar una sugerencia
   */

  $(".input-prepend").on("click",".suggestions .suggestion",function(e){

    var nombre = $(e.target).text();
    var id = $($(e.target).parent()).find(".receptor_id").text();

    $("<li><i class='icon-user'></i><span class='receptor_id'>" + id + "</span>" +  nombre + "</li>").appendTo($(".receptores ul"));

    $("input[name='mensaje.receptor']").val("");

  });

  /*
   * Sugerencias de profesores del curso a ser receptores
   */

  $("input[name='mensaje.receptor']").keyup(function(e){

    $(".suggestions").remove();

    $.ajax({
        type: "GET",
        url: "/usuarios/profesores",
        contentType : "application/json;charset=utf-8",
        dataType : "json",
      }).done(function( msg ) {

        console.log("PROFESORES : " ,msg);

        var lista = msg;

        var value = $(e.target).val();
        var m = new RegExp(value,"g");
        var sugerencias = "";

        for(var i in lista){
          if(lista[i].nombres.match(m) != null){

            var exists= false;

            for(var j=0;j<$(".receptores ul li").length;j++){
              if(lista[i].id == $($(".receptores ul li")[j]).find(".receptor_id").text()){
                exists = true;
                break;
              }
            }

            if(!exists)
              sugerencias += '<li><span class="suggestion_metadata receptor_id">' + lista[i].id + '</span><a class="suggestion">' + lista[i].nombres + '</a></li>';
          }      
        }

        if(sugerencias != ""){
          var lista_sugerencias = $("<ul class='nav nav-list span6 suggestions'>" + sugerencias + "</ul>");
          lista_sugerencias.insertAfter($(e.target));
        }
    });

  });
  
  /*
   * Formulario de envío de consulta
   */

  $("#form-consulta").submit(function(e){

    e.preventDefault();
    e.stopPropagation();

    var mensaje = {
      emisor : @session.get("id"),
      titulo : null,
      contenido : null,
      receptores : [],
      curso : @seccion.getCurso().getId(),
      seccion : @seccion.getId()
    }

    // Título

    mensaje.titulo = $("#form-consulta input[name='mensaje.titulo']").val();

    // Contenido

    mensaje.contenido = $("#form-consulta textarea[name='mensaje.contenido']").val();

    // Receptores
    var lista_receptores = $(".receptores ul li");

    for(var i=0;i<lista_receptores.length;i++){
      // Agregar receptor
      mensaje.receptores.push($($(lista_receptores[i]).find(".receptor_id")).text());
    }

    $.ajax({
        type: "POST",
        url: "/cursos/@seccion.getCurso().getId()/seccion/@seccion.getId()/asesoria/new",
        contentType : "application/json;charset=utf-8",
        dataType : "json",
        data: JSON.stringify({
          mensaje: mensaje
        })
      }).done(function(msg ) {


      });

      return false;

  })

}

@****************************************
  NAVBAR
  ***************************************@

@navbar = {

<style type="text/css">
      .sugerencias ul{
        list-style:none;
        padding:0 !important;
      }

      .controls {
        position:relative !important;
      }

      .input-prepend{
        position: relative !important;
      }

      .suggestions {
        padding-left: 0px !important;
        padding-right: 0px !important;
        border:1px solid #CCC;
        background: #FFF;
        width:458px !important;
        position:absolute;
        top:28px;
        left:0;
        z-index: 10000 !important;
      }

      .suggestions > li > a{
        margin-right: 0px !important;
        margin-left: 0px !important;
        cursor:pointer;
        display:block;
      }

      .suggestion_metadata {
        display:none;
      }

      .receptor_id {
        display:none;
      }

      .receptores {
        margin-left:0px !important;
        margin-top:5px !important;
      }

      .receptores ul{
        padding:0px !important;
        margin-left:0px !important;
        list-style:none !important;
      }

      .receptores ul li i {
        margin-right:5px;
      }

      input.with-icon {
        width :422px !important;
      }

      .question:hover {
        background: #CCC;
        cursor:pointer;
      }

      .question .row {
        line-height : 62px;
      }


    </style>


  <li><a href="/">Inicio</a></li>
  <li><a href="/cursos/@seccion.getCurso().getId()/seccion/@seccion.getId()">@seccion.getCurso().getNombre() | @seccion.getSeccion()
  </a></li>
  <li class="active"><a href="/cursos/@seccion.getCurso().getId()/seccion/@seccion.getId()/asesoria">Asesoría</a></li>
}

@****************************************
  SIDEBAR
  ***********************************@

@sidebar = {
  <ul class="nav nav-list bs-docs-sidenav affix" data-spy="affix" data-offset-top="200" id="navTab">
    <li class="nav-header">ACCIONES</li>
    <li ><a href="/cursos/@seccion.getCurso().getId()/seccion/@seccion.getId()/preguntas"><i class="icon-th-list"></i>Mis preguntas</a></li>
    <li class="active"><a href="/cursos/@seccion.getCurso().getId()/seccion/@seccion.getId()/preguntas/new"><i class="icon-question-sign"></i>Nueva pregunta</a></li>
  </ul>
}

@****************************************
  MAINBAR
  ***********************************@

@mainbar = {

    <div class="page-header">
    <h3>Nueva pregunta</h3>
    </div>


    

              @******************************************
                SI ES ESTUDIANTE, MOSTRAR EL FORMULARIO
              ****************************************@
             
              <div class="row row-header">
                <div class="span9">
                    <form class="form-horizontal" id="form-consulta">
                      <fieldset>

                        <div class="control-group">
                          <label class="control-label" for="input01">Título de pregunta</label>
                          <div class="controls">
                            <input type="text" class="span6" id="input01" name="mensaje.titulo">
                          </div>
                        </div>

                        <div class="control-group">
                          <label class="control-label" for="input01">Detalles</label>
                          <div class="controls">
                            <textarea class="input-xlarge titilium span6" id="textarea" name="mensaje.contenido" placeholder="Explica detalladamente tu consulta, por favor."></textarea>
                          </div>
                        </div>

                        <div class="control-group">
                          <label class="control-label" for="input01">Destinatario</label>
                          <div class="controls">

                            @**********************************
                              RECEPTORES
                              Por defecto es el profesor del curso donde está matriculado el estudiante
                            *********************************@

                            <div class="span6 receptores">
                              <ul>
                                <li><i class="icon-user"></i>
                                <span class="suggestion_metadata receptor_id">@seccion.getProfesor().getId()</span>
                                @seccion.getProfesor().getNombres() @seccion.getProfesor().getApellidos() 
                                </li>
                              </ul>
                            </div>

                            <div class="input-prepend">
                              <span class="add-on"><i class="icon-plus"></i></span><input name="mensaje.receptor" class="span6 with-icon" id="inputIcon" type="text">
                            </div>

                            <!--<div class="span6 sugerencias destinatarios">
                              <ul>
                                <li>Rocio Checa</li>
                                <li>Daniel Flores</li>
                              </ul>
                            </div>-->

                            <!-- Sugerencias de destinatarios -->

                            <!--<ul class="nav nav-list span6 suggestions">
                              <li class="nav-header">
                                &nbsp;Profesores
                              </li>
                              <li>
                                <a class="suggestion" href="#">Nadia Rodriguez</a>
                              </li>
                              <li>
                                <a class="suggestion" href="#">Rocío del Pilar Checa Fernandez</a>
                              </li>
                              <li>
                                <a class="suggestion" href="#">Nadia Rodriguez</a>
                              </li>
                              <li>
                                <a class="suggestion" href="#">Rocío del Pilar Checa Fernandez</a>
                              </li>
                              <li>
                                <a class="suggestion" href="#">Nadia Rodriguez</a>
                              </li>
                              <li>
                                <a class="suggestion" href="#">Rocío del Pilar Checa Fernandez</a>
                              </li>
                              <li>
                                <a class="suggestion" href="#">Nadia Rodriguez</a>
                              </li>
                            </ul>-->



                          </div>
                        </div>

                        <div class="control-group">
                          <div class="controls">
                            <button class="btn  btn-primary" type="submit">Consultar</button>
                          </div>
                        </div>

                      </fieldset>
                    </form>
                  </div>
              </div>
}



@user_layout(null,scripts,navbar,sidebar,mainbar)