@(seccion : Seccion, usuario : Usuario)

@import helper.twitterBootstrap._
@import helper._


@****************************************
  SCRIPTS
  ***********************************@

@scripts = {

  $('#navbar').affix()

}

@****************************************
  NAVBAR
  ***************************************@

@navbar = {
  <li><a href="/">Inicio</a></li>
  <li class="active"><a href="/cursos/@seccion.getCurso().getId()/seccion/@seccion.getId()">@seccion.getCurso().getNombre() | @seccion.getSeccion()
  </a></li>
  <li><a href="/cursos/@seccion.getCurso().getId()/seccion/@seccion.getId()/preguntas">Asesoría</a></li>
}

@****************************************
  SIDEBAR
  ***********************************@

@sidebar = {
  <ul class="nav nav-list">
    @*********************
     * ASESORES *
     *********************@  

    <li>
      <a href="#" class="nav-header"><i class="icon-user"></i>ASESORES</a>
      <div class="list-courses">
        <ul class="nav nav-list">

          @***************************************
            Mensaje para indicar que no existen
            asesores asignados al curso
          ****************************************@

          @if(seccion.getAsesores().size() == 0){
            <li>
              <div class="alert alert-block">
                <h5>¡No existen asesores asignados al curso!</h5>
                <span style="font-size:12px">Consulta a un administrador para que se asignen los asesores al curso, por favor.</span>
              </div>
            </li>
          }

          @***************************************
            Lista de asesores del curso
          ****************************************@

          @for(asesor <- seccion.getAsesores()){
            @if(asesor.getId() != usuario.getId()){
              <li class="list-user">
                <img class="list-user-picture" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-snc4/275746_1200589147_4305319_q.jpg"/>
                <a href="/cursos/@seccion.getCurso().getId()/seccion/@seccion.getId()/asesor/@asesor.getId()">@asesor.getNombreSimple()</a>
                <div class="cut"></div>
              </li>
              }
          }
            

            

        </ul>
      </div>
    </li>


    @*********************
     * ALUMNOS *
     *********************@  

    <!--<li>
      <a href="#" class="nav-header"><i class="icon-user"></i>ALUMNOS</a>
      <div class="list-courses">
        <ul class="nav nav-list">

          @for(seccion_usuario <- seccion.getUsuarios()){
            @if(seccion_usuario.getUsuario().getRol() == 0){
              <li class="list-user">
                <img class="list-user-picture" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-snc4/275746_1200589147_4305319_q.jpg"/>
                <a href="/usuarios/@seccion_usuario.getUsuario().getId()">@seccion_usuario.getUsuario().getNombres() @seccion_usuario.getUsuario().getApellidos()</a>
                <div class="cut"></div>
              </li>
            }
          }
            

            

        </ul>
      </div>
    </li>-->


  </ul>
}

@****************************************
  MAINBAR
  ***********************************@

@mainbar = {

               
              <div class="row row-header">
                <div class="span9 course-image">
                </div>
              </div>

              <div class="row">

                <!-- BOX 1 -->
                <div class="span9">
                  <div class="row">

                    <!-- DESCRIPCIÓN -->

                    <div class="span9">
                      <h3 class="ulima-color" style="font-size:15px">Descripción</h3>
                      <hr style="margin-top:0px;margin-bottom:10px"/>
                    </div>

                    <div class="span9">
                      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</div>
                    </div>

                  </div>
                </div> <!-- /BOX 1 -->

                <!-- BOX 2 -->
                <div class="row" style="margin-top:10px">
                  <div class="span9">
                    <div class="row">

                      <!-- OBJETIVOS -->

                      <div class="span9">
                        <h3 class="ulima-color" style="font-size:15px">Objetivos</h3>
                        <hr style="margin-top:0px;margin-bottom:10px"/>
                      </div>

                      <div class="span9">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                      </div>
                    </div>

                  </div>
                </div> <!-- /BOX 2 -->

                <!-- BOX 3 -->
                <div class="row" style="margin-top:10px">
                  <div class="span9">
                    <div class="row">

                      <!-- OBJETIVOS -->

                      <div class="span9">
                        <h3 class="ulima-color" style="font-size:15px">Bibliografía</h3>
                        <hr style="margin-top:0px;margin-bottom:10px"/>
                      </div>

                      <div class="span9">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                      </div>
                    </div>

                  </div>
                </div> <!-- /BOX 3 -->
  
  
}



@user_layout(null,scripts,navbar,sidebar,mainbar)