@(seccion : Seccion, pregunta : Mensaje)

@import helper.twitterBootstrap._
@import helper._


@****************************************
  SCRIPTS
  ***********************************@

@scripts = {

  /*
   *  Formulario de envío de respuesta
   */

   $("#form-respuesta").submit(function(e){

    e.preventDefault();
    e.stopPropagation();

    var respuesta = {
      emisor : @session.get("id"),
      contenido : null,
      seccion : @seccion.getId()
    }

    // Contenido

    respuesta.contenido = $("#form-respuesta textarea[name='respuesta.contenido']").val();

    $.ajax({
        type: "POST",
        url: "/cursos/@seccion.getCurso().getId()/seccion/@seccion.getId()/pregunta/@pregunta.getId()/respuesta",
        contentType : "application/json;charset=utf-8",
        dataType : "json",
        data: JSON.stringify({
          respuesta: respuesta
        })
    }).done(function(msg ){

    });

    return false;

   });
}

@****************************************
  NAVBAR
  ***************************************@

@navbar = {

  <style type="text/css">
      .sugerencias ul{
        list-style:none;
        padding:0 !important;
      }

      .controls {
        position:relative !important;
      }

      .input-prepend{
        position: relative !important;
      }

      .suggestions {
        padding-left: 0px !important;
        padding-right: 0px !important;
        border:1px solid #CCC;
        background: #FFF;
        width:458px !important;
        position:absolute;
        top:28px;
        left:0;
        z-index: 10000 !important;
      }

      .suggestions > li > a{
        margin-right: 0px !important;
        margin-left: 0px !important;
        cursor:pointer;
        display:block;
      }

      .suggestion_metadata {
        display:none;
      }

      .receptor_id {
        display:none;
      }

      .receptores {
        margin-left:0px !important;
        margin-top:5px !important;
      }

      .receptores ul{
        padding:0px !important;
        margin-left:0px !important;
        list-style:none !important;
      }

      .receptores ul li i {
        margin-right:5px;
      }

      input.with-icon {
        width :422px !important;
      }

    </style>





  <li><a href="/">Inicio</a></li>
  <li><a href="/cursos/@seccion.getCurso().getId()/seccion/@seccion.getId()">@seccion.getCurso().getNombre() | @seccion.getSeccion()
  </a></li>
  <li class="active"><a href="/cursos/@seccion.getCurso().getId()/seccion/@seccion.getId()/preguntas">Asesoría</a></li>
}

@****************************************
  SIDEBAR
  ***********************************@

@sidebar = {

}

@****************************************
  MAINBAR
  ***********************************@

@mainbar = {

  <div class="page-header">
    <h3 class="pregunta-titulo">@pregunta.getTitulo()</h3>
  </div>

  <div class="row">
    <!-- BOX 1 -->
    <div class="span9">
      <div class="row">

        <style type="text/css">

          .pregunta-detalle, .respuesta-detalle {
            border-bottom:1px dashed #CCC;
            padding-bottom:10px;
            margin-bottom:10px;
          }

          .pregunta-informacion , .respuesta-informacion{
            width:auto;
            height:auto;
            background:#FFF;
            border-left:3px solid #E94E1B;
            float:right;
            padding:0px 5px;
          }

          .pregunta-titulo .respuesta-titulo {

          }

          .pregunta-informacion span,
          .respuesta-informacion span {
            display:block;
          }

          .pregunta-contenido,
          .respuesta-contenido {
            margin-bottom:20px;
          }

        </style>

        <!-- PREGUNTA -->
        <div class="span9 pregunta-detalle">
          <div class="pregunta-contenido">@pregunta.getContenido()</div>
          <div class="pregunta-informacion clearfix">
              <span class="pregunta-autor"><i class="icon-user"></i> @pregunta.getEmisor().getNombres() @pregunta.getEmisor().getApellidos()</span>
              <span class="pregunta-fecha"><i class="icon-time"></i> @pregunta.getFechaFormateada()</span>
          </div>
        </div>


          </div>
        </div> <!--/PREGUNTA-->


        @for(respuesta <- pregunta.getMensajes()){

        <!-- PREGUNTA -->
        <div class="span9 response">
          <div class="row">
            <div class="span1">
              <div class="question-state"></div>
            </div>

            <div class="span8 respuesta-detalle">
              <div class="respuesta-contenido">@respuesta.getContenido()</div>
              <div class="respuesta-informacion clearfix">
                <span class="respuesta-autor"><i class="icon-user"></i> @respuesta.getEmisor().getNombres() @respuesta.getEmisor().getApellidos()</span>
                <span class="respuesta-fecha"><i class="icon-time"></i> @respuesta.getFechaFormateada()</span>
            </div>
            </div>
          </div>
        </div> <!--/PREGUNTA-->

        }

        <div class="span9 question">
          <form method="POST" id="form-respuesta" action="/cursos/@seccion.getCurso().getId()/seccion/@seccion.getId()/pregunta/@pregunta.getId()/respuesta">
            <textarea class="span9" name="respuesta.contenido"></textarea>
            <button type="submit" class="btn btn-edul"><i class="icon-comment"></i> Responder</button>
          </form>
        </div>

      </div>
    </div>
  </div> <!-- /BOX 1 -->
}



@user_left_layout(null,scripts,navbar,sidebar,mainbar)