@(facultad : Facultad, universidades : List[Universidad])

@import helper.twitterBootstrap._
@import helper._


@****************************************
  SCRIPTS
  ***********************************@

@scripts = {

  $('#navbar').affix()

}

@****************************************
  NAVBAR
  ***************************************@

@navbar = {
  <li><a href="">Inicio</a></li>
  <li class="active"><a href="/admin/facultades">Facultades</a></li>
  <li><a href="/admin/usuarios">Usuarios</a></li>
  <li><a href="/admin/cursos">Cursos</a></li>
}

@****************************************
  SIDEBAR
  ***********************************@

@sidebar = {
  <ul class="nav nav-list bs-docs-sidenav affix" data-spy="affix" data-offset-top="200" id="navTab">
    <li class="nav-header">ACCIONES</li>
    <li><a href="/admin/facultades"><i class="icon-th-list"></i>Listar facultades</a></li>
    <li><a class="active" href="/admin/facultades/create"><i class="icon-plus"></i>Crear facultad</a></li>
  </ul>
}

@****************************************
  MAINBAR
  ***********************************@

@mainbar = {

  <form class="form-horizontal" method="POST" action="/admin/facultades/@facultad.getId()/update">
    <fieldset>
      <legend>Editar facultad</legend>
     
      <div class="control-group">
        <label class="control-label" for="input01">Nombre de Facultad</label>
        <div class="controls">
          <input type="text" class="span6" name="facultad.nombre" id="input01" value="@facultad.getNombre()">
        </div>
      </div>

      <div class="control-group">
        <label class="control-label" for="select01">Universidad</label>
        <div class="controls">
          <select id="select01" name="facultad.universidad_id">

            @for(universidad <- universidades) {
              @if(universidad.getId() == facultad.getUniversidad().getId()){
                <option value="@universidad.getId()" selected>@universidad.getNombre()</li>
              }else{
                <option value="@universidad.getId()">@universidad.getNombre()</li>
              }

            } 

          </select>
        </div>
      </div>

      <div class="control-group">
        <div class="controls">
          <button class="btn  btn-primary" type="submit">Actualizar</button>
        </div>
      </div>

    </fieldset>
  </form>
  
}



@admin_layout(null,scripts,navbar,sidebar,mainbar)