
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>EdUL - Portal educativo de la Facultad de Ingeniería de Sistemas</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="css/fonts.css" rel="stylesheet"/>
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/edul.css" rel="stylesheet"/>
    <style type="text/css">

    </style>
    <link href="../assets/css/bootstrap-responsive.css" rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="../assets/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">
  </head>

  <body>

    <div id="wrap">

    <div class="header">
      <div class="header-inner">
        <div class="logo">EdUL
          <br/><span class="version">alpha</span>
        </div>

        <!--<div class="header-login">
          <div class="header-login-button">
            Intranet
          </div>
          <div class="header-login-inner">
              <form method="post" action="#">
                <input type="text" placeholder="Código"/><br/>
                <input type="password" placeholder="Contraseña"/><br/>
                <input type="submit" class="btn btn-success" value="Entrar"/>
              </form>
              <span class="olvide-contrasena"><a href="http://google.com">¿Olvidaste tu contraseña?</a></span>
          </div>
        </div>-->

          <div class="header-user">
            <div class="header-user-picture"></div>
            <div class="header-user-details">
              <ul class="titilium">
                <li class="name">Daniel Flores</li>
                <li class="faculty">Ingeniería de Sistemas</li>
              </ul>
            </div>
            <div class="cut"></div>
          </div>

        </div>
      </div>
  

    <div class="navbar">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <div class="nav-collapse">
            <ul class="nav">
              <li><a href="#">Inicio</a></li>
              <li><a href="#about">Seminario de Tesis I</a></li>
              <li><a href="#contact">Asesoría</a></li>
              <li class="active"><a href="#about">Chat</a></li>
              <li><a href="#contact">Materiales</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>



    <div class="container container-wrap">

      <!-- Example row of columns -->
      <div class="row">

        <div class="span12">
          <div class="row titilium">
            <!--
              SIDEBAR
            -->
            <div class="span3 content-left">
              
              
                <ul class="nav nav-list">
                  <li class="nav-header">
                    PERSONAS
                  </li>
                  <li>
                    <!-- 
                      PERSONAS
                    -->
                    <a href="#" class="nav-header"><i class="icon-user"></i> PROFESORES</a>
                    <ul class="nav nav-list">
                      <li class="list-user">
                        <img class="list-user-picture" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-snc4/275746_1200589147_4305319_q.jpg"/>
                        <a href="#">Freddy Cahuas</a>
                        <div class="cut"></div>
                      </li>
                      <li class="list-user">
                        <img class="list-user-picture" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-ash2/369309_1270467084_942844184_q.jpg"/>
                        <a href="#">Freddy Cahuas</a>
                        <div class="cut"></div>
                      </li>
                      <li class="list-user">
                        <img class="list-user-picture" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-snc4/48815_1032202210_1657296_q.jpg"/>
                        <a href="#">Freddy Cahuas</a>
                        <div class="cut"></div>
                      </li>
                      <li class="list-user">
                        <img class="list-user-picture" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-ash2/161585_1104992034_168476089_q.jpg"/>
                        <a href="#">Freddy Cahuas</a>
                        <div class="cut"></div>
                      </li>
                      <li class="list-user">
                        <img class="list-user-picture" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-snc4/211528_100002280642888_4125957_q.jpg"/>
                        <a href="#">Freddy Cahuas</a>
                        <div class="cut"></div>
                      </li>
                    </ul>
                    <!-- / PERSONAS -->
                  </li>

                  <li>
                    <a href="#" class="nav-header"><i class="icon-user"></i> ESTUDIANTES</a>
                    <div class="list-courses">
                      <ul class="nav nav-list">
                        <!-- PERSONAS -->
                          <li class="list-user">
                            <img class="list-user-picture" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-snc4/275746_1200589147_4305319_q.jpg"/>
                            <a href="#">Freddy Cahuas</a>
                            <div class="cut"></div>
                          </li>
                          <li class="list-user">
                            <img class="list-user-picture" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-ash2/369309_1270467084_942844184_q.jpg"/>
                            <a href="#">Freddy Cahuas</a>
                            <div class="cut"></div>
                          </li>
                          <li class="list-user">
                            <img class="list-user-picture" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-snc4/48815_1032202210_1657296_q.jpg"/>
                            <a href="#">Freddy Cahuas</a>
                            <div class="cut"></div>
                          </li>
                          <li class="list-user">
                            <img class="list-user-picture" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-ash2/161585_1104992034_168476089_q.jpg"/>
                            <a href="#">Freddy Cahuas</a>
                            <div class="cut"></div>
                          </li>
                          <li class="list-user">
                            <img class="list-user-picture" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-snc4/211528_100002280642888_4125957_q.jpg"/>
                            <a href="#">Freddy Cahuas</a>
                            <div class="cut"></div>
                          </li>
                          <li class="list-user">
                            <img class="list-user-picture" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-snc4/275746_1200589147_4305319_q.jpg"/>
                            <a href="#">Freddy Cahuas</a>
                            <div class="cut"></div>
                          </li>
                          <li class="list-user">
                            <img class="list-user-picture" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-ash2/369309_1270467084_942844184_q.jpg"/>
                            <a href="#">Freddy Cahuas</a>
                            <div class="cut"></div>
                          </li>
                          <li class="list-user">
                            <img class="list-user-picture" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-snc4/48815_1032202210_1657296_q.jpg"/>
                            <a href="#">Freddy Cahuas</a>
                            <div class="cut"></div>
                          </li>
                          <li class="list-user">
                            <img class="list-user-picture" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-ash2/161585_1104992034_168476089_q.jpg"/>
                            <a href="#">Freddy Cahuas</a>
                            <div class="cut"></div>
                          </li>
                          <li class="list-user">
                            <img class="list-user-picture" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-snc4/211528_100002280642888_4125957_q.jpg"/>
                            <a href="#">Freddy Cahuas</a>
                            <div class="cut"></div>
                          </li>
                          <li class="list-user">
                            <img class="list-user-picture" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-snc4/275746_1200589147_4305319_q.jpg"/>
                            <a href="#">Freddy Cahuas</a>
                            <div class="cut"></div>
                          </li>
                          <li class="list-user">
                            <img class="list-user-picture" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-ash2/369309_1270467084_942844184_q.jpg"/>
                            <a href="#">Freddy Cahuas</a>
                            <div class="cut"></div>
                          </li>
                          <li class="list-user">
                            <img class="list-user-picture" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-snc4/48815_1032202210_1657296_q.jpg"/>
                            <a href="#">Freddy Cahuas</a>
                            <div class="cut"></div>
                          </li>
                          <li class="list-user">
                            <img class="list-user-picture" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-ash2/161585_1104992034_168476089_q.jpg"/>
                            <a href="#">Freddy Cahuas</a>
                            <div class="cut"></div>
                          </li>
                          <li class="list-user">
                            <img class="list-user-picture" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-snc4/211528_100002280642888_4125957_q.jpg"/>
                            <a href="#">Freddy Cahuas</a>
                            <div class="cut"></div>
                          </li>
                          <li class="list-user">
                            <img class="list-user-picture" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-snc4/275746_1200589147_4305319_q.jpg"/>
                            <a href="#">Freddy Cahuas</a>
                            <div class="cut"></div>
                          </li>
                          <li class="list-user">
                            <img class="list-user-picture" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-ash2/369309_1270467084_942844184_q.jpg"/>
                            <a href="#">Freddy Cahuas</a>
                            <div class="cut"></div>
                          </li>
                          <li class="list-user">
                            <img class="list-user-picture" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-snc4/48815_1032202210_1657296_q.jpg"/>
                            <a href="#">Freddy Cahuas</a>
                            <div class="cut"></div>
                          </li>
                          <li class="list-user">
                            <img class="list-user-picture" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-ash2/161585_1104992034_168476089_q.jpg"/>
                            <a href="#">Freddy Cahuas</a>
                            <div class="cut"></div>
                          </li>
                          <li class="list-user">
                            <img class="list-user-picture" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-snc4/211528_100002280642888_4125957_q.jpg"/>
                            <a href="#">Freddy Cahuas</a>
                            <div class="cut"></div>
                          </li>
                        <!-- /PERSONAS -->
                      </ul>
                    </div>
                  </li>
                </ul>

              <!--<ul>
                <div class="input-prepend list-courses-search">
                  <span class="add-on"><i class="icon-search"></i></span><input class="span2" id="inputIcon" type="text" placeholder="Buscar curso ...">
                </div>
              </ul>-->
            
            </div>
            <!-- / SIDEBAR -->

            <!-- CHAT -->
            <div class="span6 content-right">
              <div class="row messages">

                <!-- MESSAGE -->
                <div class="span6 message">
                  <div class="message-user"><img src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-snc4/211528_100002280642888_4125957_q.jpg"/></div>
                  <div class="message-content">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</div>
                  <div class="message-date">3:00</div>
                  <div class="cut"></div>
                </div> <!-- / MESSAGE -->

                <!-- MESSAGE -->
                <div class="span6 message">
                  <div class="message-user"><img src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-snc4/211528_100002280642888_4125957_q.jpg"/></div>
                  <div class="message-content">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</div>
                  <div class="message-date">3:00</div>
                  <div class="cut"></div>
                </div> <!-- / MESSAGE -->

                <!-- MESSAGE -->
                <div class="span6 message">
                  <div class="message-user"><img src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-snc4/211528_100002280642888_4125957_q.jpg"/></div>
                  <div class="message-content">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since</div>
                  <div class="message-date">3:00</div>
                  <div class="cut"></div>
                </div> <!-- / MESSAGE -->

                <!-- MESSAGE -->
                <div class="span6 message">
                  <div class="message-user"><img src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-snc4/211528_100002280642888_4125957_q.jpg"/></div>
                  <div class="message-content">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not</div>
                  <div class="message-date">3:00</div>
                  <div class="cut"></div>
                </div> <!-- / MESSAGE -->

                <!-- MESSAGE -->
                <div class="span6 message">
                  <div class="message-user"><img src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-snc4/211528_100002280642888_4125957_q.jpg"/></div>
                  <div class="message-content">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's</div>
                  <div class="message-date">3:00</div>
                  <div class="cut"></div>
                </div> <!-- / MESSAGE -->

                <!-- MESSAGE -->
                <div class="span6 message">
                  <div class="message-user"><img src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-snc4/211528_100002280642888_4125957_q.jpg"/></div>
                  <div class="message-content">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it</div>
                  <div class="message-date">3:00</div>
                  <div class="cut"></div>
                </div> <!-- / MESSAGE -->

                <!-- MESSAGE -->
                <div class="span6 message">
                  <div class="message-user"><img src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-snc4/211528_100002280642888_4125957_q.jpg"/></div>
                  <div class="message-content">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it</div>
                  <div class="message-date">3:00</div>
                  <div class="cut"></div>
                </div> <!-- / MESSAGE -->

                <!-- MESSAGE -->
                <div class="span6 message">
                  <div class="message-user"><img src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-snc4/211528_100002280642888_4125957_q.jpg"/></div>
                  <div class="message-content">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it</div>
                  <div class="message-date">3:00</div>
                  <div class="cut"></div>
                </div> <!-- / MESSAGE -->

              </div>

              <!-- FORMULARIO PARA ENVIAR MENSAJE -->
              <div class="row message-input">
                <form class="form-horizontal">
                  <div class="span6">
                    <textarea class="input-xlarge titilium span6" id="textarea" placeholder="Explica detalladamente tu consulta, por favor."></textarea>
                  </div>
                </form>
              </div>

            </div>

            <!-- LINKS -->
            <div class="span3 content-right content-right-links">

                 SDSD
            </div>



              </div>
            </div>
          </div>
        </div>

     </div>


    </div> <!-- /container -->

  </div>

    <footer>
      <div class="footer-inner titilium">
        <p>&copy; ITLAB | Universidad de Lima 2012.<br/>Laboratorio de Aprendizaje en Tecnologías de Información.</p>  
      </div>
    </footer>

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/jquery.js"></script>
    <script src="js/autoTextArea.js"></script>
    <script src="js/bootstrap-transition.js"></script>
    <script src="js/bootstrap-alert.js"></script>
    <script src="js/bootstrap-modal.js"></script>
    <script src="js/bootstrap-dropdown.js"></script>
    <script src="js/bootstrap-scrollspy.js"></script>
    <script src="js/bootstrap-tab.js"></script>
    <script src="js/bootstrap-tooltip.js"></script>
    <script src="js/bootstrap-popover.js"></script>
    <script src="js/bootstrap-button.js"></script>
    <script src="js/bootstrap-collapse.js"></script>
    <script src="js/bootstrap-carousel.js"></script>
    <script src="js/bootstrap-typeahead.js"></script>

    <script type="text/javascript">
      $('.carousel').carousel();

      $(".header-login-button").click(function(){
        if($(".header-login-inner").css("display") == "none")
          $(".header-login-inner").show();
        else
          $(".header-login-inner").hide();
      })

      $('.carousel').carousel({
        interval: 2000
      })

      $('.dropdown-toggle').dropdown()

    </script>

  </body>
</html>
