@(user : Usuario, curso : Curso)


@import helper._

@chat(user) {
    <!-- AGREGAR ESTO -->
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>  
}{
    <!--<h1></h1>

    <h3>Estudiantes</h3>

    <ul>
    @for(usuario <- curso.getUsuarios()) {
    	<li>@usuario.getUsuario().getNombres() @usuario.getUsuario().getApellidos()</li>
	}
	</ul>-->



	<!-- CHAT -->

	<div id="cabecera" class="page-header">
        <h1>@curso.getNombre() <small>- @curso.getUsuarios().size() matriculado(s)</small></h1>
    </div>
    
    <div id="onError" class="alert-message error">
        <p>
            <strong>Oops!</strong> <span></span>
        </p>
    </div>
    
    <div id="onChat" class="row">
        <div class="span10" id="main">
            <div id="messages">
                asds
                @for(mensaje <- curso.getMensajes()){
                   <div class="message talk me">
                        <div class="message-information">
                            <span class="message-author">@mensaje.getEmisor().getNombres() @mensaje.getEmisor().getApellidos()</span>
                            <span class="message-date">@mensaje.getFechaFormato()</span>
                        </div>
                        <p class="message-content">@mensaje.getContenido()</p>
                        <div class="cut"></div>
                   </div> 
                }
                

            </div>
            <textarea id="talk"></textarea>
        </div>
        <div class="span4" style="height:auto !important;min-height:50px !important;">
            <h2>Miembros</h2>
            <ul id="members">
            </ul>
        </div>

        
        <!-- LINKS -->

        <div class="links">
            <h2>Enlaces</h2>
            <ul id="list-links">
                @for(enlace <- curso.getEnlaces()){
                    <li>
                        <div class="link">
                            <div class="link-picture">
                                <img src="@enlace.getImagen()" height="50px" width="50px" style="float:right"/>
                            </div>
                            <div class="link-information">
                                <a href="@enlace.getUrl()">@if(enlace.getTitulo().length() > 100){@enlace.getTitulo().substring(0,100)}else{@enlace.getTitulo()}</a>
                                <p class="link-description">@if(enlace.getDescripcion().length() > 130){@enlace.getDescripcion().substring(0,130)}else{@enlace.getDescripcion()}</p>
                            </div>
                            <div class="cut"></div>
                        </div>
                    </li>
                }
            </ul>
        </div>
        <!-- /LINKS -->

    </div>

    <script>
        var cometMessage = function(data) {
            data = JSON.parse(data);
            console.log(data);
            var el = $('<div class="message"><span></span><p></p></div>');
            $("span", el).text(data.uid);
            $("p", el).text(data.message);
            if(data.uid == '@user.getCodigo()') $(el).addClass('me');
            $('#messages').append(el)
        }
    </script>

    <iframe src="/curso/@curso.getCodigo()/comet"></iframe>
    
    <script type="text/javascript" charset="utf-8">

    $(function(){

        var handleReturnKey = function(e) {
                    if(e.charCode == 13 || e.keyCode == 13) {
                        e.preventDefault();
                        sendMessage();
                    } 
                }

        $("#talk").keypress(handleReturnKey)  

        var sendMessage = function(){
            var message = JSON.stringify({
                    text: $("#talk").val()
            });

            $.ajax({
              type: "POST",
              url: "/curso/@curso.getCodigo()/comet",
              contentType : "application/json;charset=utf-8",
              dataType : "json",
              data: JSON.stringify({ 
                uid: "@user.getCodigo()", 
                message: $("#talk").val(),
                cid : "@curso.getCodigo()"
                })
            }).done(function( msg ) {
              //console.log( "Message: " + msg );
            });

            $("#talk").val('');
        }
    });

        /*$(function() {

            var WS = window['MozWebSocket'] ? MozWebSocket : WebSocket;
	       
            var chatSocket = new WS("@routes.Cursos.chat(curso.getCodigo(),user.getCodigo()).webSocketURL(request)");

            // If the connection has been closed or could not be opened
            // then dont use websockets.

                var sendMessage = function() {

                    var message = JSON.stringify({
                            text: $("#talk").val()
                    });

                    chatSocket.send(message);

                    /$.ajax({
                      type: "POST",
                      url: "/curso/@curso.getCodigo()/comet",
                      dataType : "json",
                      data: { 
                        uid: "@user.getCodigo()", 
                        message: $("#talk").val(),
                        cid : "@curso.getCodigo()"
                        }
                    }).done(function( msg ) {
                      console.log( "Message: " + msg );
                    });*

                    $("#talk").val('');
                }
                
                var receiveEvent = function(event) {

                    var data = JSON.parse(event.data)
                    
                    // Handle errors
                    if(data.error) {
                        chatSocket.close()
                        $("#onError span").text(data.error)
                        $("#onError").show()
                        return
                    } else {
                        $("#onChat").show()
                    }
                    
                    // Create the message element

                    var el = $('<div class="message"><span></span><p></p></div>')
                    
                    if(data.kind == "talk"){
                        console.log("TALK : ",data);
                        data.user = JSON.parse(data.user);
                         $("span", el).text(data.user.nombres + " " + data.user.apellidos);
                     }else{
                        $("span", el).text(data.user);
                     }

                    $("p", el).text(data.message);
                    $(el).addClass(data.kind);
                    if(data.user == '@user.getCodigo()') $(el).addClass('me')
                    $('#messages').append(el)


                    // GET URL
                    if(data.enlace != null){
                        data.enlace = JSON.parse(data.enlace);
                        if(data.enlace.titulo.length > 100) data.enlace.titulo = data.enlace.titulo.substring(0,100);
                        if(data.enlace.descripcion.length > 130) data.enlace.descripcion = data.enlace.descripcion.substring(0,130);
                        var link = $('<li><div class="link">'+
                            '<div class="link-picture">'+
                                '<img src="' + data.enlace.imagen + '" height="50px" width="50px" style="float:right"/>'+
                            '</div>'+
                            '<div class="link-information">'+
                                '<a href="' + data.enlace.url + '">' + data.enlace.titulo + '</a>'+
                                '<p class="link-description">' + data.enlace.descripcion + '</p>'+
                            '</div>'+
                            '<div class="cut"></div>'+
                        '</div></li>').prependTo($("#list-links").hide().fadeIn('slow'));
                    }
                    
                    // Update the members list
                    $("#members").html('') 
                    $(data.members).each(function() {
                        var anotherUser = JSON.parse(this);
                        $("#members").append('<li>' +
                            anotherUser.nombres + ' ' + anotherUser.apellidos + " (" + anotherUser.codigo + ")" +
                            '</li>')
                    })
                }
                
                var handleReturnKey = function(e) {
                    if(e.charCode == 13 || e.keyCode == 13) {
                        e.preventDefault();
                        sendMessage();
                    } 
                }
        
                $("#talk").keypress(handleReturnKey)  
                
                chatSocket.onmessage = receiveEvent;
                
        });*/
    
    </script>


}