@(facultadForm : Form[Facultad])
@import helper.twitterBootstrap._
@import helper._

@scripts = {



} 

@main(null, scripts){
  <li><a href="">Inicio</a></li>
  <li class="active"><a href="/admin/facultades">Facultades</a></li>
  <li><a href="/admin/profesores">Profesores</a></li>
  <li><a href="/admin/cursos">Cursos</a></li>
  <li><a href="/admin/usuarios">Cursos</a></li>
}{

        @*********************
         * CONTENIDO *
         *********************@ 

      <!-- Example row of columns -->
      <div class="row">

        <div class="span12">
          <div class="row titilium">

            <!-- / SIDEBAR -->
            <div class="span9 content-right">
              
              <h1>Administración</h1>

              <!-- ACA INICIA EL FORMULARIO -->

                <div class="span9">
                  <div class="well">
                    
                    <form class="form-horizontal" method="POST" action="/admin/facultad/new">
                      <fieldset>
                        <legend>Nueva facultad</legend>
                       
                        <div class="control-group">
                          <label class="control-label" for="input01">Nombre de Facultad</label>
                          <div class="controls">
                            <input type="text" class="span6" name="nombre" id="input01">
                          </div>
                        </div>

                        <!--<div class="control-group">
                          <label class="control-label" for="input01">Detalles</label>
                          <div class="controls">
                            <textarea class="input-xlarge titilium span6" id="textarea" placeholder="Explica detalladamente tu consulta, por favor."></textarea>
                          </div>
                        </div>-->

                        <div class="control-group">
                          <div class="controls">
                            <button class="btn  btn-primary" type="submit">Crear</button>
                          </div>
                        </div>

                      </fieldset>
                    </form>


                  </div>
                </div>

              <!-- ACA TERMINA EL FORMULARIO -->


            </div>
          </div>
        </div>

     </div>

}