@(userForm : Form[Usuario])

@import helper.twitterBootstrap._
@import helper._

@scripts = {
  
}

@********************************
* USUARIO, MENU, CONTENIDO      *
********************************@

@main(user=null,scripts){

}{


  <style type="text/css">

    .carousel {
      height:300px !important;
    }

    .carousel, .slide , .carousel-inner,
    .carousel .carousel-inner .item,
    .carousel .carousel-inner .active,
    .carousel .carousel-inner img {
      height: 350px !important;
    }
  </style>
	<!--
		SLIDER
	-->
	<div class="hero-unit">

        <div id="myCarousel" class="carousel slide">
            <div class="carousel-inner">
              <div class="item active"  style="background:url('/assets/img/fotos/salon1.jpg') no-repeat;">
                <!--<img src="/assets/img/fotos/salon1.jpg" alt="" height="800" width="940">-->
                <!--<div class="carousel-caption">
                  <h4>First Thumbnail label</h4>
                  <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                </div>-->
              </div>
              <div class="item" style="background:url('/assets/img/fotos/salon2.jpg') no-repeat;">
                <!--<img src="/assets/img/fotos/salon2.jpg" alt="" height="300" width="940">-->
                <!--<div class="carousel-caption">
                  <h4>Second Thumbnail label</h4>
                  <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                </div>-->
              </div>
              <div class="item" style="background:url('/assets/img/fotos/salon3.jpg') no-repeat;">
                <!--<img src="/assets/img/fotos/salon3.jpg" alt="" height="300" width="940">-->
                <!--<div class="carousel-caption">
                  <h4>Third Thumbnail label</h4>
                  <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                </div>-->
              </div>
            </div>
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
          </div>

      </div> <!-- / END OF SLIDER HERO -->

      <!-- Example row of columns -->
      <div class="row">

        <div class="span6">
          <div class="row titilium">
            <div class="span2">
              <div class="thumbail" style="background:url('/assets/img/fotos/clase.jpg');background-size:cover"></div>
            </div>
            <div class="span4">
              <h2 class="ulima-color">EdUL</h2>
               <p>EdUL es este sistema de asesorías en línea, desarrollado por el <strong>Laboratorio de Aprendizaje en Tecnologías de Información - ITLAB</strong>, dirigido especialmente para los cursos de Seminario de Tesis I y II. Actualmente el proyecto está en fase <em>alpha</em>.</p>
              <!--<p><a class="btn" href="#">View details &raquo;</a></p>-->
            </div>
          </div>
        </div>

        <div class="span6">
          <div class="row titilium">
            <div class="span2">
              <div class="thumbail" style="background:url('/assets/img/fotos/pizarra.jpg');background-size:cover"></div>
            </div>
            <div class="span4">
              <h2 class="ulima-color">Seminario de Tesis</h2>
               <p style="text-align:justify">La asignatura comprende los siguientes temas: conocimiento sobre las metodologías y herramientas de investigación necesarias para la definición del tema de investigación y la elaboración del plan de investigación dentro de las líneas de investigación de la carrera.</p>
              <!--<p><a class="btn" href="#">View details &raquo;</a></p>-->
            </div>
          </div>
        </div>

     </div>

}