@(userForm : Form[Usuario])

@import helper.twitterBootstrap._
@import helper._

@scripts = {
  
}

@********************************
* USUARIO, MENU, CONTENIDO      *
********************************@

@main(user=null,scripts){
  <li class="active"><a href="#">Inicio</a></li>
  <li><a href="#about">Acerca de</a></li>
}{


  <style type="text/css">

    .carousel, .slide , .carousel-inner,
    .carousel .carousel-inner .item,
    .carousel .carousel-inner .active,
    .carousel .carousel-inner img {
      height: 350px !important;
    }
  </style>
	<!--
		SLIDER
	-->
	<div class="hero-unit">

        <div id="myCarousel" class="carousel slide">
            <div class="carousel-inner">
              <div class="item active">
                <img src="/assets/img/bootstrap-mdo-sfmoma-01.jpg" alt="" height="300" width="940">
                <div class="carousel-caption">
                  <h4>First Thumbnail label</h4>
                  <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                </div>
              </div>
              <div class="item">
                <img src="/assets/img/bootstrap-mdo-sfmoma-02.jpg" alt="" height="300" width="940">
                <div class="carousel-caption">
                  <h4>Second Thumbnail label</h4>
                  <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                </div>
              </div>
              <div class="item">
                <img src="/assets/img/bootstrap-mdo-sfmoma-03.jpg" alt="" height="300" width="940">
                <div class="carousel-caption">
                  <h4>Third Thumbnail label</h4>
                  <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                </div>
              </div>
            </div>
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
          </div>

      </div> <!-- / END OF SLIDER HERO -->

      <!-- Example row of columns -->
      <div class="row"  style="margin-top:120px;margin-bottom:20px">

        <div class="span6" style="margin-top:60px">
          <div class="row titilium">
            <div class="span2">
              <div class="thumbail"></div>
            </div>
            <div class="span4">
              <h2 class="ulima-color">EdUL</h2>
               <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
              <!--<p><a class="btn" href="#">View details &raquo;</a></p>-->
            </div>
          </div>
        </div>

       
        <div class="span6">

            <div class="row titilium">
              <div class="span1">
                <div class="thumbail-mini"></div>
              </div>
              <div class="span5">
                <h4 class="ulima-color">Asesorías online</h4>
                 <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh</p>
                 <p><a class="btn btn-mini" href="#">Ver detalles &raquo;</a></p>
              </div>
            </div>

            <div class="row titilium">
              <div class="span1">
                <div class="thumbail-mini"></div>
              </div>
              <div class="span5">
                <h4 class="ulima-color">Asesorías online</h4>
                 <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh</p>
                 <p><a class="btn btn-mini" href="#">Ver detalles &raquo;</a></p>
              </div>
            </div>

            <div class="row titilium">
              <div class="span1">
                <div class="thumbail-mini"></div>
              </div>
              <div class="span5">
                <h4 class="ulima-color">Asesorías online</h4>
                 <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh</p>
                 <p><a class="btn btn-mini" href="#">Ver detalles &raquo;</a></p>
              </div>
            </div>

       </div> 

     </div>

}