@(user: Usuario, scripts: Html = Html(""))(menu: Html)(content: Html)
@import helper.twitterBootstrap._

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>EdUL - Portal educativo de la Facultad de Ingeniería de Sistemas</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("css/fonts.css" )"/>
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("css/bootstrap.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("css/edul.css")"/>-
    <link rel="stylesheet" media="screen" href="../assets/css/bootstrap-responsive.css">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="../assets/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">
  </head>

  <body>

    <div id="wrap">

    <!-- 
        HEADER
    -->

    <div class="header">
      <div class="header-inner">
        <div class="logo">EdUL
          <br/><span class="version">alpha</span>
        </div>

        @if(user == null && session.get("username") == null) {

        @*********************
         * LOGIN *
         *********************@ 

        <div class="header-login">
          <div class="header-login-button">
            Intranet
          </div>
          <div class="header-login-inner">
              <form method="post" action="@routes.Usuarios.login()">
                <input type="text" name="username" placeholder="Código"/><br/>
                <input type="password" name="password" placeholder="Contraseña"/><br/>
                <input type="submit" class="btn btn-success" value="Entrar"/>
              </form>
              <span class="olvide-contrasena"><a href="http://google.com">¿Olvidaste tu contraseña?
          </div>
        </div>

        } else {

        @*********************
         * USER INFO *
         *********************@ 

          <div class="header-user">
            <div class="header-user-picture"></div>
            <div class="header-user-details">
              <ul class="titilium">
                <li class="name">@session.get("username")</li>
                <li class="faculty">Ingeniería de Sistemas</li>
                <li><a href="@routes.Usuarios.logout()">Salir</a></li>
              </ul>
            </div>
            <div class="cut"></div>
          </div>
        }

      </div>
    </div>

    <!--
        MENÚ DE NAVEGACIÓN
    -->

    <div class="navbar">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <div class="nav-collapse">
            <!-- 
            *********************************************
            MENU 
            *********************************************
            -->
            <ul class="nav">
              @menu
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <!-- CONTAINER -->

    <div class="container container-wrap">

      <!-- CONTENIDO -->
      @content
      

    </div> <!-- /container -->
  </div> <!-- WRAPPER -->

    <footer>
      <div class="footer-inner titilium">
        <p>&copy; ITLAB | Universidad de Lima 2012.<br/>Laboratorio de Aprendizaje en Tecnologías de Información.</p>  
      </div>
    </footer>

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

    <script src="@routes.Assets.at("js/jquery.js")"></script>
    <script src="@routes.Assets.at("js/bootstrap-transition.js")"></script>
    <script src="@routes.Assets.at("js/bootstrap-carousel.js")"></script>
    <script src="@routes.Assets.at("js/bootstrap.js")"></script>
    <!--<script src="@routes.Assets.at("js/bootstrap-alert.js")"></script>
    <script src="@routes.Assets.at("js/bootstrap-modal.js")"></script>
    <script src="@routes.Assets.at("js/bootstrap-dropdown.js")"></script>
    <script src="@routes.Assets.at("js/bootstrap-scrollspy.js")"></script>
    <script src="@routes.Assets.at("js/bootstrap-tab.js")"></script>
    <script src="@routes.Assets.at("js/bootstrap-tooltip.js")"></script>
    <script src="@routes.Assets.at("js/bootstrap-popover.js")"></script>
    <script src="@routes.Assets.at("js/bootstrap-button.js")"></script>
    <script src="@routes.Assets.at("js/bootstrap-collapse.js")"></script>
    <script src="@routes.Assets.at("js/bootstrap-typeahead.js")"></script>-->
    
    <script type="text/javascript">

    if(window.Prototype) {
        delete Object.prototype.toJSON;
        delete Array.prototype.toJSON;
        delete Hash.prototype.toJSON;
        delete String.prototype.toJSON;
    }


        // CUANDO EL DOCUMENTO CARGUE POR COMPLETO
    $(document).ready(function(){

      $('.carousel').carousel();

      $(".header-login-button").click(function(){
        if($(".header-login-inner").css("display") == "none")
          $(".header-login-inner").show();
        else
          $(".header-login-inner").hide();
      })

      $('.carousel').carousel({
        interval: 2000
      })

      // $('.dropdown-toggle').dropdown();

      @scripts

    });

    </script>

  </body>
</html>
